body {
	margin: 0;
	padding: 0;
	background-color: #272525;
}

	/* HEADER */

	header {
		display: flex;
		background-color: #131313;
		height: 60px;
		box-shadow: 1px 1px 10px black;
	}

		.programming_ants_name {
			position: absolute;
			font-family: Arial Black;
			font-size: 20px;
			left: 2.5%;
		}

			header a {
				color: #df4f48;
				text-decoration: none;
			}

			.programming_ants_logo {
				position: absolute;
				top: 10px;
				left: 37.5%;
				width: 50px;
				height: 50px;
			}

				.programming_ants_expansion {
					position: absolute;
					font-size: 20px;
					font-family: Arial;
					color: #1e9fd0;
					left: 43.5%;
					top: 28px;
				}

					#search {
						background-color: white;
					}

						#searching_bar {
							position: absolute;
							background: black;
							left: 80%;
							top: 20px;
							width: 150px;
							height: 25px;
						}

							#ok {
								position: absolute;
								height: 30px;
								width: 30px;
								top: 20px;
								left: 95%;
							}
