a {
	text-decoration: none;
}

p {
 margin: 0px;
}

body {
	background-color: white;
	position: relative;
	margin: 0;
	padding: 0;
}

	/* HEADER */

		header {
			margin-top: 10px;
			height: 75px;
			width: 90%;
			min-width: 800px;
			border-top: 3px solid;
			border-right: 3px solid;
			border-bottom: 3px solid;
			border-color: #df4f48;
			border-bottom-right-radius: 50px;
			border-top-right-radius: 50px;
			box-shadow: 10px 10px 5px #d2d2d2;
		}

			.website_name {
				position: absolute;
				font-size: 22px;
				color: #24252f;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				text-shadow: 1px 1px 2px black;
				font-style: italic;
				left: 85px;
				line-height: 21px;
			}

			.programming_ants_logo {
				position: absolute;
				width: 60px;
				height: 60px;
				left: 20px;
				top: 43px;
			}

				#account {
                    display: flex;
                    position: absolute;
					top: 54px;
					right: 17%;
                    width: 162px;
				}

				.identification {
					font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
					font-size: 14px;
					text-align: center;
					background-color: white;
					color: #df4f48;
					border: 2px solid;
					border-color: #df4f48;
					border-radius: 50px;
					height: 20px;
					width: 50px;
					padding-top: 5px;
					padding-bottom: 2px;
					padding-left: 7px;
					padding-right: 7px;
				}

				.identification a {
					color: #df4f48;
				}

				.identification:nth-child(1) {
					margin-right: 25px;
					padding-left: 6px;
				}

				.identification:nth-child(1):hover a {
					color: white;
				}

				.identification:nth-child(1):hover {
					background-color: #df4f48;
				}

				.identification:nth-child(2):hover a {
					color: white;
				}

				.identification:nth-child(2):hover {
					background-color: #df4f48;
				}

					.disconnect {
						background-color: white;
						padding-top: 5px;
						padding-bottom: 2px;
						padding-left: 10px;
						padding-right: 10px;
						text-align: center;
						width: 65px;
						height: 20px;
						color: #df4f48;
						border: 2px solid;
						border-color: #df4f48;
						border-radius: 50px;
					}

					.disconnect:hover a {
						color: white;
					}

					.disconnect:hover {
						background-color: #df4f48;
					}


            /* Pseudo et image de l'utilisateur connected dans le header */

            #user {
                position: absolute;
			    top: 40px;
                width: 150px;
                height: 52px;
            	right: 12%;
            }

						#user img {
							position: absolute;
							top: 2px;
							width: 45px;
							height: 45px;
							border-radius: 50%;
							border: 2px solid #24252f;
						}

							.username {
								position: absolute;
								font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
								font-size: 20px;
								top: 15px;
								left: 40%;
								text-shadow: 1px 1px 2px black;
							}

							.username a {
								color: #24252f;
							}

							.username:hover a{
								color: #df4f48;
							}

	/* SECTION */

		section {
			margin: 50px auto;
			border: 2px solid;
			border-color: #df4f48;
			border-radius: 15px;
			height: auto;
			width: 70%;
			min-width: 610px;
			box-shadow: 10px 10px 5px #d2d2d2;
		}

			#top_menu {
				display: flex;
				justify-content: space-between;
				background-color: #24252f;
				border-top-left-radius: 13px;
				border-top-right-radius: 13px;
      	        height: 45px;
      	        width: 100%;
			}

			.option {
				color: white;
				font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
				font-size: 14px;
				line-height: 9px;
      	        margin-right: auto;
      	        margin-left: auto;
			}

			.option a {
				color: white;
			}

			.option:hover a {
				color: #df4f48;
			}

	/* ARTICLE */

    article{
        display: block;
		border-top: 2px solid #24252f;
		border-bottom: 2px solid #24252f;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
        margin-bottom: 15px;
        height: auto;
    	width: 90%;
		box-shadow: 0px 0px 5px black;
    }

			#articles {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			}

			.article {
				border: 2px solid #24252f;
				margin-top: 20px;
                margin-bottom: 20px;
				width: 95%;
				border-bottom-right-radius: 45px;
				border-top-left-radius: 45px;
				box-shadow: 2px 2px 5px black;
			}

			.article h2 {
				background-color: #24252f;
				color: white;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				font-size: 20px;
				text-align: center;
				box-shadow: 1px 1px 3px black;
				padding: 5px;
				width: 15%;
				margin-left: auto;
				margin-right: auto;
			}

			.article p {
				font-size: 14px;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				margin: 10px;
			}

			.article a {
				color: red;
			}

			.test_image {
				height: 80px;
				width: 80px;
				float: left;
				margin-right: 5px;
			}

	/* ASIDE */

		#reconnection {
			display: flex;
			position: fixed;
			right: -200px;
			background-color: white;
			height: 60px;
			width: 200px;
			top: 175px;
			border-left: 1px solid #36393e;
			border-top: 1px solid #36393e;
			border-bottom: 1px solid #36393e;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
			min-width: 180px;
		}

		.message {
			position: absolute;
			color: #36393e;
			font-size: 20px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			top: 15%;
			left: 5%;
		}

		#message_user {
            top: 54%;
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            align: center;
            height: 60px;
    }

		.exit {
			position: absolute;
			left: 142px;
			width: 25px;
			height: 25px;
		}

	/* FOOTER */
