a {
	color: #df4f48;
	text-decoration: none;
}

	.shortcut a {
		color: white;
	}

		.shortcut a:hover {
			color: #df4f48;
		}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	/* HEADER */

	header {
		display: flex;
        position: absolute;
		background-color: white;
		height: 82px;
		width: 90%;
		border-top: 3px solid;
		border-right: 3px solid;
		border-bottom: 3px solid;
		border-color: #df4f48;
		border-bottom-right-radius: 50px;
		border-top-right-radius: 50px;
		box-shadow: 10px 10px 5px #d2d2d2;
	}

		.website_name {
			font-size: 24px;
			color: #df4f48;
			display: flex;
			font-family: Arial Black;
			margin-left: 50px;
			line-height: 13px;
		}

				.programming_ants_logo {
					width: 60px;
					height: 60px;

				}

					#account {
						display: flex;
                        position: absolute;
						justify-content: space-between;
						margin-top: 25px;
                        margin-bottom: 2%;
						left: 70%;
					}

						.identification {
							background-color: white;
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 20px;
							padding-right: 20px;
							height: 20px;
							color: #df4f48;
							border: 2px solid;
							border-color: #df4f48;
							border-radius: 50px;
						}

							.identification:nth-child(1) {
								margin-right: 25px;
							}

								.identification:nth-child(1):hover a {
									color: white;
								}

								.identification:nth-child(1):hover {
									background-color: #df4f48;
								}


									.identification:nth-child(2):hover a {
										color: white;
									}

									.identification:nth-child(2):hover {
										background-color: #df4f48;
									}

	/* SECTION */

	section {
		display: flex;
        position: absolute;
		background-color: #df4f48;
		top: 170px;
		border: 2px solid;
		border-color: #df4f48;
		border-radius: 15px;
		left: 20%;
		height: 500px;
		width: 60%;
		box-shadow: 10px 10px 5px #d2d2d2;
	}

	/* NAV */

		#top_menu {
			display: flex;
            position: absolute;
			justify-content: space-between;
			background-color: #24252f;
			border-top-left-radius: 14px;
			border-top-right-radius: 14px;
            height: 10%;
            width: 100%;
			max-height: 45px;
		}

			.shortcut {
				color: white;
				font-family: Arial;
				font-size: 15px;
				line-height: 10px;
                margin-right: 40px;
                margin-left: 40px;

			}

	/* ARTICLE */

		article {
			display: flex;
			position: absolute;
			background-color: white;
			left: 10%;
			margin-top: 45px;
			width: 80%;
			height: 90%;
			border: 1px solid;
			border-color: #bdb7b7;
		}

			#article {

			}

	/* FOOTER */

		footer {
			display: flex;
            position: absolute;
			background-color: white;
			border-top: 1px solid;
			border-right: 1px solid;
			border-left: 1px solid;
			border-color: #bdb7b7;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			margin-top: 50px;
			height: 10%;
            bottom: 20px;
            width: 80%;
            left: 10%;


		}
