a {
	text-decoration: none;
}

p {
 margin: 0px;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	/* HEADER */

		header {
			display: flex;
    	position: absolute;
			background-color: white;
			height: 82px;
			width: 90%;
			border-top: 3px solid;
			border-right: 3px solid;
			border-bottom: 3px solid;
			border-color: #df4f48;
			border-bottom-right-radius: 50px;
			border-top-right-radius: 50px;
			box-shadow: 10px 10px 5px #d2d2d2;
			min-width: 850px;
		}

			.website_name {
				position: absolute;
				font-size: 22px;
				color: #24252f;
				display: flex;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				font-style: italic;
				text-shadow: 1px 1px 2px black;
				left: 115px;
				line-height: 21px;
			}

			.programming_ants_logo {
				position: absolute;
				width: 60px;
				height: 60px;
				left: 50px;
				top: 12px;
			}

				#account {
					display: flex;
          position: absolute;
					top: 24px;
					right: 50px;
				}

				.identification {
					font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
					font-size: 14px;
					text-align: center;
					background-color: white;
					color: #df4f48;
					border: 2px solid;
					border-color: #df4f48;
					border-radius: 50px;
					height: 20px;
					width: 50px;
					padding-top: 5px;
					padding-bottom: 2px;
					padding-left: 7px;
					padding-right: 7px;
				}

				.identification a {
					color: #df4f48;
				}

				.identification:nth-child(1) {
					margin-right: 25px;
					padding-left: 6px;
				}

				.identification:nth-child(1):hover a {
					color: white;
				}

				.identification:nth-child(1):hover {
					background-color: #df4f48;
				}

				.identification:nth-child(2):hover a {
					color: white;
				}

				.identification:nth-child(2):hover {
					background-color: #df4f48;
				}

					.disconnect {
						background-color: white;
						padding-top: 5px;
						padding-bottom: 5px;
						padding-left: 10px;
						padding-right: 30px;
						width: 53px;
						height: 20px;
						color: #df4f48;
						border: 2px solid;
						border-color: #df4f48;
						border-radius: 50px;
					}

					.disconnect:hover a {
						color: white;
					}

					.disconnect:hover {
						background-color: #df4f48;
					}

            #user {
              position: absolute;
			    		top: 13px;
              width: 150px;
              height: 55px;
            	right: 180px;
            }

						#user img {
							position: absolute;
							top: -1px;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							border: 3px solid #df4f48;
							padding-top: 3px;
						}

							.username {
								position: absolute;
								font-family: Helvetica, Arial, Tahoma;
								font-size: 20px;
								top: 15px;
								left: 40%;
                width: 92px;
                text-align: center;
							}

	/* SECTION */

		section {
			display: flex;
    	position: absolute;
			background-color: white;
			top: 170px;
			border: 2px solid;
			border-color: #df4f48;
			border-radius: 15px;
			left: 15%;
			height: 500px;
			width: 70%;
			box-shadow: 10px 10px 5px #d2d2d2;
			min-width: 610px;
		}

	/* NAV */

		#top_menu {
			display: flex;
      position: absolute;
			justify-content: space-between;
			background-color: #24252f;
			border-top-left-radius: 14px;
			border-top-right-radius: 14px;
      height: 10%;
      width: 100%;
			max-height: 45px;
		}

		.option {
			color: white;
			font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
			font-size: 14px;
			line-height: 9px;
      margin-right: 40px;
      margin-left: 40px;
		}

		.option a {
			color: white;
		}

		.option:hover a {
			color: #df4f48;
		}

	/* ARTICLE */

        article{
          position: absolute;
					top: 9%;
        	height: 455px;
    			width: 100%;
        }

		    .working {
          position: absolute;
			    width: 42.5%;
			    height: 450px;
			    top: 30px;
          margin-left: 30%;
          margin-right: 30%;
		    }

            #message_connection {
              position: absolute;
              color: white;
              background-color: green;
              bottom: 130px;
              left: 30px;
              display: block;
            }

	/* ASIDE */

		#reconnection {
			display: flex;
			position: fixed;
			right: 0%;
			background-color: white;
			height: 60px;
			width: 12.5%;
			top: 175px;
			border-left: 1px solid #36393e;
			border-top: 1px solid #36393e;
			border-bottom: 1px solid #36393e;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
			min-width: 180px;
		}

		.message {
			position: absolute;
			color: #36393e;
			font-size: 20px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			top: 15%;
			left: 5%;
		}

		#message_user {
      top: 54%;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      align: center;
      height: 60px;
    }

		.exit {
			position: absolute;
			left: 142px;
			width: 25px;
			height: 25px;
		}

	/* FOOTER */

		footer {
			display: flex;
      position: absolute;
			background-color: #24252f;
			width: 100%;
			height: 130px;
			top: 95%;
		}
