a {
	color: #df4f48;
	text-decoration: none;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	.website_name {
		display: flex;
		position: absolute;
		font-size: 30px;
		font-family: Arial Black;
		position: absolute;
		margin-top: 15px;
		margin-left: 73px;
	}

	/* CENTER WINDOW */

	section {
		display: flex;
		margin-top: 140px;
		height: 400px;
		width: 530px;
		margin-left: auto;
		margin-right: auto;
	}

		.programming_ants_logo {
            position: absolute;
			height: 50px;
			width: 50px;
			margin-top: 15px;
			margin-left: 380px;
		}

			/* ==> FIELDSET */

			fieldset {
				display: flex;
				position: absolute;
				margin-left: 50px;
				margin-top: 80px;
				width: 400px;
				height: 120px;
				border: 2px solid;
				border-color: #df4f48;
				border-radius: 20px;
			}

				legend {
					color: #df4f48;
					font-family: Arial;
					font-size: 20px;
				}

					label {
						color: #df4f48;
						font-family: Arial;
						font-size: 15px;
					}

                    /* FORMULAIRE */

					#nickname_label{
                        position: absolute;
                        left: 70px;
                        top: 43px;
                    }

                    #nickname{
                        position: absolute;
                        left: 34%;
                        top: 40px;
                        width: 200px;
                        height: 20px;
                    }

					#pass_label{
                        position: absolute;
                        left: 70px;
                        top: 83px;
                    }

                    #pass{
                        position: absolute;
                        left: 34%;
                        top: 80px;
                        width: 200px;
                        height: 20px;
                    }

                    #stay_connected_label{
                         position: absolute;
                         left: 117px;
                         top: 161px;
                    }

                    #stay_connected{
                        position: absolute;
                        left: 55px;
                        top: 159px;
                        width: 16px;
                        height: 16px;
                    }

				/* SEND */

					#send {
						position: absolute;
						top: 152px;
						left: 350px;
					}

						.send {
							background-color: white;
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 20px;
							padding-right: 20px;
							height: 35px;
							color: #df4f48;
							border: 2px solid;
							border-color: #df4f48;
							border-radius: 50px;
						}
