a {
	color: #df4f48;
	text-decoration: none;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	.website_name {
		display: flex;
		position: absolute;
		font-size: 30px;
		font-family: Arial Black;
		position: absolute;
		margin-top: 15px;
		margin-left: 73px;
	}

	/* CENTER WINDOW */

	section {
		display: flex;
		margin-top: 140px;
		height: 400px;
		margin-left: 32.5%;
        margin-right: 29%;

	}

		.programming_ants_logo {
            position: absolute;
			height: 50px;
			width: 50px;
			margin-top: 15px;
			margin-left: 380px;
		}

			/* ==> FIELDSET */

			fieldset {
				display: flex;
				position: absolute;
				margin-left: 3.1%;
				margin-top: 80px;
				width: 400px;
				height: 180px;
				border: 2px solid;
				border-color: #df4f48;
				border-radius: 20px;
			}

				legend {
					color: #df4f48;
					font-family: Arial;
					font-size: 20px;
				}

					label {
						color: #df4f48;
						font-family: Arial;
						font-size: 15px;
					}

                    /* FORMULAIRE */

                    #nickname{
                        position: absolute;
                        left: 170px;
                        top: 38px;
                        width: 200px;

                    }

                    #nickname_label{
                        position: absolute;
                        left: 30px;
                        top: 40px;
                    }

                    #pass{
                        position: absolute;
                        left: 170px;
                        top: 78px;
                        width: 200px;
                    }

                    #pass_label{
                        position: absolute;
                        left: 30px;
                        top: 80px;
                    }
                    
                    #keep_connected{
                        position: absolute;
                        left: 170px;
                        top: 141px;
                        width: 200px;
                    }
                    
                    #keep_connected_label{
                         position: absolute;
                         left: 30px;
                         top: 143px;
                    }

				/* SEND */

					#send {
						position: absolute;
						top: 435px;
						left: 510px;
					}

						.send {
							background-color: white;
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 20px;
							padding-right: 20px;
							height: 35px;
							color: #df4f48;
							border: 2px solid;
							border-color: #df4f48;
							border-radius: 50px;
						}
