a {
	text-decoration: none;
}

p {
 margin: 0;
}

ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
}

  /* HEADER */

	header {
		display: flex;
		justify-content: center;
		height: auto;
	}

		#top {
			display: inline-flex;
			margin-top: 50px;
			height: 70px;
			width: 50%;
			min-width: 347px;
			box-shadow: 1px 1px 5px grey;
			border-radius: 5px;
		}

			#top h1 {
				color:  #24252f;
				font-size: 40px;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				margin-left: 15px;
				margin-top: 15px;
			}

			#top a {
				color:  #24252f;
				font-size: 15px;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				font-style: italic;
				margin-left: 10px;
				margin-top: 36px;
			}

			#top a:hover {
				color: #495969;
			}

	/* ASIDE */

	aside {
		display: flex;
		background-color: #24252f;
		margin-top: 50px;
		margin-right: 25px;
		margin-left: 12%;
		width: 160px;
		height: 500px;
		border-radius: 5px;
		float: left;
	}

		aside ul {
			margin: 15px auto;
		}

		.nav_element {
			text-align: center;
			font-size: 12px;
			font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
			border-top: 1px solid #495969;
		}

		.nav_element a {
			color: white;
		}

		.nav_element a:hover {
			color: #495969;
		}

		.nav_element:nth-child(4) {
			border-bottom: 1px solid #495969;
		}

		.nav_element:nth-child(5) {
			margin-top: 240px;
			border-bottom: 1px solid #495969;
		}

	/* SECTION */

	section {
		display: flex;
		width: 50%;
		min-width: 450px;
    height: 500px;
		margin-top: 50px;
		box-shadow: 1px 1px 5px grey;
		background-color: #f4f4f4;
		border-radius: 5px;
	}

    #user_informations1 {
			display: flex;
			background-color: white;
			flex-direction: column;
      width: 35%;
      height: 480px;
			margin-left: 10px;
			margin-top: auto;
			margin-bottom: auto;
			border: 1px solid grey;
			border-radius: 5px;
    }

		#user_img_frame{
			display: flex;
			margin: 10px auto;
      width: 100px;
			height: 100px;
      background-color: white;
    }

    #user_img{
      width: 100px;
      height: 100px;
    }

    #username{
			color: white;
			padding-top: 5px;
			padding-bottom: 5px;
			font-size: 18px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			background-color: #24252f;
			width: 100%;
    }

    #user_stats_forum{
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			font-size: 15px;
      width: auto;
      padding-left: 8px;
			padding-right: 8px;
			line-height: 25px;
			margin-left: 5px;
			margin-right: 5px;
    }

		#user_stats_forum h4 {
			color: #24252f;
			font-size: 15px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			height: 5px;
		}

	/* FOOTER */

	footer {
	   position: absolute;
	   height: 50px;
	   width: 100%;
	   margin-top: 57px;
	   background-color: #24252f;
	   align-content: center;
	   color: white;
 	}

	  #footer_label {
	  	margin-top: 20px;
	  	text-align: center;
 		}
