a {
	color: #df4f48;
	text-decoration: none;
}

body {
<<<<<<< HEAD
	background-color: white;
=======
	background-color: #e3e5e2;
>>>>>>> 539d15c74492120bc1e7c868a5e3a7fa980ecd45
	margin: 0;
	padding: 0;
}

	.website_name {
		display: flex;
		position: absolute;
		font-size: 30px;
		font-family: Arial Black;
		position: absolute;
		margin-top: 15px;
		margin-left: 60px;
	}

	/* CENTER WINDOW */

	section {
		display: flex;
		margin-top: 140px;
		height: 400px;
		margin-left: 32.5%;
		margin-right: 35%;
	}

		.programming_ants_logo {
			height: 50px;
			width: 50px;
			margin-top: 15px;
			margin-left: 365px;
		}

			/* ==> FIELDSET */

			fieldset {
				display: flex;
				position: absolute;
				margin-left: 3.1%;
				margin-top: 80px;
				width: 25%;
				height: 180px;
				border: 2px solid;
				border-color: #df4f48;
				border-radius: 20px;
			}

				legend {
					color: #df4f48;
					font-family: Arial;
					font-size: 20px;
				}

					label {
						color: #df4f48;
						font-family: Arial;
						font-size: 15px; 
					}

				/* SEND */

					#send {
						position: absolute;
						margin-top: 280px;
						margin-left: 1%;
					}	

						.send {
							background-color: white;
							padding-top: 5px;
							padding-bottom: 5px;
							padding-left: 20px;
							padding-right: 20px;
							height: 20px;
							font-size: 15px;
							color: #df4f48;
							border: 2px solid;
							border-color: #df4f48;
							border-radius: 50px;
						}
