footer{
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  background-color: #24252f;
  align-content: center;
  color: white;
  }

#footer_label{
  margin-top: 20px;
  text-align: center;
}
