footer{
  position: relative;
  height: 70px;
  width: 100%;
  bottom: -70px;
  background-color: #24252f;
  align-content: center;
  color: white;
  margin-top: 30px;
  }

#footer_information_frame_1{
    position: relative;
    text-align: center;
    top: 10px;
}

#footer_information_frame_2{
    display: flex;
    justify-content: space-around;
    width: 300px;
    font-size: 10px;
    position: relative;
    top: 22px;
    margin: auto;
    text-align: center;
}

#label_github{
    width: 80px;
    margin: 0px;
}

#label_contact{
    width: 80px;
    margin: 0px;
}

#label_uses_condition{
    width: 110px;
    margin: 0px;
}
