@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');

header {
	width: 100%;
    margin-bottom: 5px;
}

header .part_1 {
  display: flex;
	height: 72px;
}

#hr_groupa {
	display: flex;
	margin-left :  75px;
	height: 100%;
	align-items: center;
  width: 175px;
  margin-top: 4px;
}
#hr_groupa img {
	width: 100%;
}

#hr_groupa a{
  width: 100%;
}

#hr_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: center;
	margin-left: 30px;
	width: 100%;
  margin-top: 4px;
}
.nav_element {
  margin-left: auto;
  margin-right: auto;
}

.nav_element a {
	color: ;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2vw;
	letter-spacing: 1.25px;
}
.nav_element_login {
  margin-left: auto;
  margin-right: auto;
}
.nav_element_register {
  margin-left: auto;
  margin-right: auto;
}
.nav_element_logs {
  margin-left: auto;
  margin-right: auto;
}

.hr_small_resolution{
	display: none;
}
#small_resolution_menu_icon {
	height: 55px;
	width: 55px;
	background: url("/images/icons/normal/h_vertical_m/n_hovered.svg");
	background-repeat: no-repeat;
	position: relative;
	top: 12px;
  display: none;
}
#small_resolution_menu_icon:hover {
	background: url("/images/icons/normal/h_vertical_m/hovered.svg");
	background-repeat: no-repeat;
}
.hr_high_resolution{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
  width: 38.5%;
}

.hr_vertical_menu{
	z-index: 5;
}
#hr_vertical_menu{
	flex-direction: column;
	display: none;
	width: 300px;
  margin-top: 27px;
  border: 2px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  right: -2px;
  background-color: white;
  text-align: center;
}
#hr_vertical_menu .nav_element{
	width: 250px;
}
#hr_vertical_menu .nav_element a{
	color: black;
  font-size: 4vw;
}
#hr_vertical_menu .separator {
  width: 200px;
  border: 1px grey solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 16px;
}
.menu_title {
  text-align: center;
  font-size: 3vw;
  font-family: "Karla",cursive;
  margin-bottom: 8px;
  margin-top: 22px;
}

#hr_groupc {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	height: 100%;
	width: 380px;
	margin-right: 75px;
	align-items: center;
}

.identication {
    width: 200px;
}

.identification a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	letter-spacing: 1px;
}
.identification:nth-child(1) a {
	font-weight: 300;
}
.identification:nth-child(2) a {
	font-weight: 500;
	color: white;
}
.identification:nth-child(2) {
	margin-left: 20px;
	background-color: #45a6ee;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

.small_resolution.identification:nth-child(2) {
	margin-left: 0px;
}
#hr_usera {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
    margin-top: 5px;
}
.small_resolution#hr_usera{
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 8px;
    flex-direction: column;
}

#login_button{
  display: none;
}

.small_resolution #login_button a {
     color: black;
     font-size: 3.2vw;
}

#register_button {
  display: none;
}

.small_resolution #register_button {
    margin-top: 5px;
}

.small_resolution #register_button a {
     color: black;
     font-size: 3.2vw;
}

#hr_userb {
	display: flex;
	flex-direction: row;
	text-align: center;
	display: none;
	margin-left: 25px;
	margin-right: 25px;
}
#user_image {
	margin-left: auto;
	margin-right: auto;
}

#user_image img {
	height: 40px;
	width: 40px;
    margin-top: 15px;
}

#user_username{
    position: relative;
    top: -2px;
}
#disconnect_button {
  display: none;
	background-color: #4eabf0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
#disconnect_button a {
	font-weight: bold;
	font-size: 1.4vw;;
	color: white;
}

/* All smalls resolutions */
@media screen and (max-width: 1024px){

    :nth-child(1).identification a{
        font-size: 2.7vw;
    }

    :nth-child(2).identification a{
        font-size: 2.7vw;
    }

    /*.identification{
        margin-top: 23px;
    }*/

    #disconnect_button a {
    	font-size: 2vw;;
    }

    #hr_groupa{
        width: 320px;
        position: relative;
        top: 10px;
        margin-left: 35px;
        margin-top: 6px;
    }

    #hr_groupc{
        margin-right: 35px;
    }

    #small_resolution_menu_icon{
        display: block;
    }

    .hr_high_resolution {
        display: none;
    }

    header {
        height: 93px;
    }

}

/* All mediums resolutions */
@media screen and (min-width: 1025px) and (max-width: 1379px){

    .hr_high_resolution{
        width: 58%;
    }

    .nav_element a{
        font-size: 1.73vw;
    }

    :nth-child(1).identification a{
        font-size: 1.73vw;
    }

    :nth-child(2).identification a{
        font-size: 1.73vw;
    }

    #hr_groupa {
        margin-left: 40px;
    }

    #hr_groupc {
        margin-right: 40px;
    }
}


/* All other smalls resolutions */
@media screen and (min-width: 1025px){

    #small_resolution_menu_icon{
        display: none;
    }

    .hr_high_resolution {
        display: flex;
    }

}
