@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');

header {
	width: 100%;
  margin-bottom: 5px;
}

header .part_1 {
  display: flex;
	height: 72px;
}

a {
  text-decoration: none;
  color: black;
}

#hr_groupa {
	display: flex;
	margin-left :  75px;
	height: 100%;
	align-items: center;
  width: 175px;
  margin-top: 4px;
}
#hr_groupa img {
	width: 100%;
}

#hr_groupa a{
  width: 100%;
}

#hr_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: center;
	margin-left: 30px;
	width: 100%;
  margin-top: 4px;
}
.nav_element {
  margin-left: auto;
  margin-right: auto;
}

.nav_element a {
	color: #2b2b2b;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2vw;
	letter-spacing: 1.25px;
	transition-property: color;
	transition-duration: 0.5s;
}
.nav_element:hover a {
	color: #45a6ee;
}
.nav_element_login {

}
.nav_element_register {

}
.nav_element_logs {
  margin-left: auto;
  margin-right: auto;
}

#hr_groupc {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	height: 100%;
	width: 500px;
	margin-right: 75px;
	align-items: center;
}

.identification a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	letter-spacing: 1px;
}

.identification:nth-child(2) a {
	font-weight: 500;
	color: white;
}
.identification:nth-child(2) {
	margin-left: 20px;
	background-color: #45a6ee;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
}

#hr_usera {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
  margin-top: 5px;
}

.small_resolution#hr_usera {
    flex-direction: column;
}

#login_button{
  display: none;
}

#login_button a {
	color: #2b2b2b;
	font-weight: 300;
	transition-property: color;
	transition-duration: 0.5s;
}

#login_button:hover a {
	color: #45a6ee;
}

.small_resolution#login_button {
    margin-left: auto;
    margin-right: auto;
}

#register_button {
  display: none;
}

.small_resolution#register_button {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}

#hr_userb {
	display: flex;
	flex-direction: row;
	text-align: center;
	display: none;
	margin-left: 25px;
	margin-right: 25px;
}
#user_image {
	margin-left: auto;
	margin-right: auto;
}
#user_image img {
	height: 40px;
	width: 40px;
  margin-top: 15px;
}

#user_username{
  position: relative;
  top: -2px;
}
#disconnect_button {
  display: none;
	background-color: #4eabf0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
#disconnect_button a {
	font-weight: bold;
	font-size: 1.4vw;;
	color: white;
}

/* Pop-up (Element inexistant) */

.modal_background{
	background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal_content{
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}
#modal_warning_no_content{
	display: none;
}
#modal_warning_no_content .warning_img{
	height: 65px;
	width: 65px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 12px;
}
#modal_warning_no_content p{
	text-align: center;
}
#modal_warning_no_content .modal_content{
	height: 140px;
	width: 270px;
}


/* ----------------------- SMALL RESOLUTIONS ----------------------*/
.hr_small_resolution{
	display: none;
}
#small_resolution_menu_icon {
	height: 66px;
	width: 66px;
	background: url("/images/icons/normal/h_vertical_m/n_hovered.svg");
	background-repeat: no-repeat;
	position: relative;
	top: 12px;
  display: none;
}
#small_resolution_menu_icon:hover {
	background: url("/images/icons/others/h_vertical_m/hovered.svg");
	background-repeat: no-repeat;
}
.hr_high_resolution {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
  width: 38.5%;
}

.hr_vertical_menu {
	z-index: 5;
}
#hr_vertical_menu {
	flex-direction: column;
	display: none;
	width: 300px;
	right: 0;
  margin-top: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  background-color: white;
  text-align: center;
	font-family: 'Roboto', sans-serif;
}
#hr_vertical_menu .nav_element {
	width: 250px;
}
#hr_vertical_menu .nav_element a {
	color: #2b2b2b;
  font-size: 3.9vw;
	margin-top: 15px;
	margin-bottom: 15px;
}
#hr_vertical_menu .separator {
  width: 200px;
  border: 1px #202020 solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.small_resolution #hr_usera {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  flex-direction: column;
}
.small_resolution #login_button a {
  color: #2b2b2b;
  font-size: 3.5vw;
}
.small_resolution#register_button {
    margin-top: 5px;
}
.small_resolution #register_button a {
  color: white;
  font-size: 3.5vw;
}

/* ---------------------------------------------------------------- */

    /* MEDIA QUERIES */

/* MQ FOR SMALLS RESOLUTIONS */
@media screen and (max-width: 1024px){

    :nth-child(1).identification a{
        font-size: 2.7vw;
    }

    :nth-child(2).identification a{
        font-size: 2.7vw;
    }

    #disconnect_button a {
    	font-size: 2vw;;
    }

    #hr_groupa{
        width: 320px;
        position: relative;
        top: 10px;
        margin-left: 35px;
        margin-top: 6px;
    }

    #hr_groupc{
        margin-right: 35px;
    }

    #small_resolution_menu_icon{
        display: block;
    }

    .hr_high_resolution {
        display: none;
    }

    header {
        height: 93px;
    }

}

/* MQ FOR MEDIUMS RESOLUTIONS */
@media screen and (min-width: 1025px) and (max-width: 1379px){

    .hr_high_resolution{
        width: 58%;
    }

    .nav_element a{
        font-size: 1.73vw;
    }

    :nth-child(1).identification a{
        font-size: 1.73vw;
    }

    :nth-child(2).identification a{
        font-size: 1.73vw;
    }

    #hr_groupa {
        margin-left: 40px;
    }

    #hr_groupc {
        margin-right: 40px;
    }
}


/* MQ FOR ALL OTHER SMALLS RESOLUTIONS */
@media screen and (min-width: 1025px){

    #small_resolution_menu_icon{
        display: none;
    }

    .hr_high_resolution {
        display: flex;
    }

}
