@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin: 0;
}
h2 {
  margin: 0
}
h3{
  margin: 0;
}
input::placeholder {
  font-size: 15px;
  font-style: italic;
}

/* Header */

#h_elements {
  width: 35%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#infa {
	font-size: 25px;
	text-align: center;
}
#infa h2 {
  color: #2d2d2d;
  font-family: 'Karla', cursive;
	font-weight: 700;
  font-size: 1.75vw;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #eeeeee;
}

#infb {
  margin-top: 10px;
	font-size: 15px;
	text-align: center;
}
#infb h3 {
  color: #5a5a5a;
  font-family: 'Karla', cursive;
	font-weight: 400;
  font-size: 1.2vw;
}
#infb a {
  color: #8cc6ff;
}

/* Section */

section {
  margin-top: 25px;
}

#group_input {
  display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

fieldset {
	display: flex;
	height: 400px;
  width: 100%;
  border-top: 7px solid;
  border-image: linear-gradient(to right, #ff9a64 25%, #ffd584 25%, #ffd584 50%, #a0cdf6 50%, #a0cdf6 75%, #c5b3ff 75%) 5;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Formulaire */

input {
  display: flex;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 37.5px;
  width: 75%;
  padding-left: 15px;
}

#inf_box {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#validation_nickname {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

#validation_pass {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}
#validation_pass_confirm {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

#validation_email {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

/* Send */

#send {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Roboto', cursive;
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #ffc25f;
	border-radius: 5px;
  border: none;
}

/* FORMULAIRE ERROR */

.text_error { /* Modifie le formatage du texte des erreurs */
	padding-left: 5px;
	padding-right: 5px;
	word-wrap: break-word;
}

.message_error { /*Ce qu'il faut appliquer a tout les messages d'erreurs */
	width: 35%;
	margin-left: auto;
	margin-right: auto;
  border: 1px solid black;
  display: none;
}

#message_error_bad_filled {
	position: relative;
	top: 21px;
  height: auto;
}

#text_error_bad_filled {
  text-align: center;
}

#message_error_nickname { /*Ce qu'il faut appliquer individuellement */
  position: relative;
  top: -244px;
  height: auto;
  left: 467px;
}

#message_error_password {
  position: relative;
  top: -196px;
  left: 467px;
}

#message_error_confirmation_password {
  position: relative;
  top: -148px;
  left: 467px;
}

#message_error_email {
  position: relative;
  top: -101px;
  left: 467px;
}
