@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  font-size: 1.1vw;
  list-style: none;
  font-weight: 500;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

p {
  margin: 0;
}
h2 {
  margin: 0
}
h3{
  margin: 0;
}
input::placeholder {
  font-size: 15px;
  font-style: italic;
}

/* Header */

header {
  margin-top: auto;
}

#h_elements {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

#infa {
  display: inline-flex;
	text-align: center;
  width: 100%;
}
#infa h2 {
  color: #2d2d2d;
  font-family: 'Karla', cursive;
	font-weight: 700;
  font-size: 1.75vw;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #eeeeee;
  margin-left: auto;
}
#infa a {
  width: 2.5%;
  margin-right: auto;
}
.return {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  width: 1.9vw;
}

#infb {
  margin-top: 10px;
	text-align: center;
}
#infb h3 {
  color: #5a5a5a;
  font-family: 'Karla', cursive;
	font-weight: 400;
  font-size: 1.2vw;
}
#infb a {
  color: #8cc6ff;
}

/* Section */

section {
  margin-top: 25px;
  margin-bottom: auto;
}

#group_input {
  display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

fieldset {
	display: flex;
  width: 100%;
  border-top: 7px solid;
  border-image: linear-gradient(to right, #ff9a64 25%, #ffd584 25%, #ffd584 50%, #a0cdf6 50%, #a0cdf6 75%, #c5b3ff 75%) 5;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12.5px;
  padding-bottom: 30px;
}

/* Formulaire */

input {
  display: flex;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 37.5px;
  width: 75%;
  padding-left: 15px;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}

#inf_box {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#validation_nickname {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

#validation_pass {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}
#validation_pass_confirm {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

#validation_email {
  margin-left: 12.5px;
  width: 4%;
  visibility: hidden;
}

/* Send */

#send {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Roboto', cursive;
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #ffc25f;
	border-radius: 5px;
  border: none;
}

/* Formulaire error */

.text_error { /* Modifie le formatage du texte des erreurs */
	padding-left: 5px;
	padding-right: 5px;
	word-wrap: break-word;
}

.message_error { /*Ce qu'il faut appliquer a tout les messages d'erreurs */
  display: none;
  position: relative;
  background-color: white;
  font-family: 'Roboto', cursive;
  font-weight: 300;
  font-size: 1.25vw;
  color: #a1a1a1;
  padding: 10px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}
.message_error:after {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
left: -15px;
top: 50%;
}
.message_error:before {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #eeeeee;
display: block;
width: 0;
z-index: 0;
margin-top: -15px;
left: -16px;
top: 50%;
}

#message_error_bad_filled {
	margin-top: 20px;
}

#text_error_bad_filled {
  text-align: center;
}

#message_error_nickname { /*Ce qu'il faut appliquer individuellement */
  margin-top: 20px;
}

#message_error_password {
  margin-top: 20px;
}

#message_error_confirmation_password {
  margin-top: 20px;
}

#message_error_email {
  margin-top: 20px;
}

.page_change_orientation{
    background-color: black;
    z-index: 999;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1024px) {

    #group_input{
        width: 55%;
    }

    #infa h2{
        font-size: 2.25vw;
    }

    #infb h3{
        font-size: 1.70vw;
    }

    #send{
        font-size: 1.9vw;
    }

    #checkbox_text{
        font-size: 1.7vw;
    }

    .message_error{
        font-size: 1.75vw;
    }

    .message_error li{
        font-size: 1.6vw;
    }

    #body_content{
        min-height: 80vh;
    }

}
