
a {
	text-decoration: none;
}

p {
 margin: 0;
}

ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

body {
	margin: 0;
	padding: 0;
}

  /* HEADER */

	header {
		display: flex;
		height: auto;
	}

		#top {
			display: inline-flex;
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			height: 70px;
			width: 50%;
			min-width: 347px;
			border-top: 2px solid #24252f;
			border-bottom: 2px solid #24252f;
			border-radius: 5px;
		}

			#top h1 {
				color:  #24252f;
				font-size: 40px;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				margin-left: 15px;
				margin-top: 15px;
			}

			#top a {
				color:  #24252f;
				font-size: 15px;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				font-style: italic;
				margin-left: 10px;
				margin-top: 36px;
			}

			#top a:hover {
				color: #495969;
			}

    #main_content{
        display: flex;
        flex-direction: column;
        min-height: 100vh
    }

	/* SECTION */

	section {
		display: flex;
		width: 70%;
		min-width: 450px;
        height: 500px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
        flex: 1;
	}

    #user_informations1 {
			display: flex;
			flex-direction: column;
			width: 35%;
            height: 480px;
			margin-left: 15px;
			margin-top: auto;
			margin-bottom: auto;
			border-top: 2px solid #24252f;
			border-bottom: 2px solid #24252f;
    }

		#user_img_frame{
			display: flex;
			margin: 10px auto;
      width: 100px;
			height: 100px;
      background-color: white;
    }

    #user_img{
      width: 100px;
      height: 100px;
    }

    #username{
			color: white;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 20px;
			padding-right: 20px;
			margin-left: auto;
			margin-right: auto;
			font-weight: lighter;
			font-size: 18px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			background-color: #24252f;
			width: auto;
    }

    #username h3{
      margin: 0px;
      color: white;
    }

    #user_rank{
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
    }

    #user_rank h3{
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      margin: 0px;
      color: #486470;
    }

    #user_stats_forum{
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			font-size: 15px;
      width: auto;
      padding-left: 8px;
			padding-right: 8px;
			line-height: 25px;
			margin-top: 5px;
			margin-left: 5px;
			margin-right: 5px;
    }

		#user_stats_forum h4 {
			color: #24252f;
			font-size: 15px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			height: 5px;
            margin-top: 11px;
		}

        #user_stats_forum h5{
          width: 250px;
          margin: 0px;
        }

        #friends{
          padding-left: 8px;
          padding-right: 8px;
            margin-top: 5px;
        }

        #friends h4{
        	color: #24252f;
					font-size: 15px;
					font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
          margin-left: 5px;
					margin-top: 0px;
            margin-bottom: 12px;
        }

        .friend_image{
            margin-left: 8px;
            width: 40px;
            height: 40px;
        }

        .friend_name{
            position: relative;
            left: 70px;
            top: -44px;
            margin-bottom: 0px;
            margin-top: 0px;
            width: 80px;
        }

        .friend_profile_link{
            position: relative;
            top: -45px;
            left: 70px;
        }

        .friend_1{
            height: 50px;
            margin-left: 13px;
            display: none;
        }

        .friend_2{
            height: 50px;
            margin-left: 13px;
            display: none;
        }

        #next_friend_page{
            width: 20px;
            height: 20px;
            position: relative;
            top: -131px;
            left: 152px;
        }

        #previous_friend_page{
            width: 20px;
            height: 20px;
            position: relative;
            top: -131px;
            left: 108px;
        }

      #onglet_frame{
        position: relative;
        width: 60%;
        margin: auto;
        height: 470px;
        margin: 10px;
		border: 1px solid grey;
		border-radius: 5px;
        margin-top: auto;
        margin-bottom: auto;
        overflow: scroll; /* Je t'ai mis une barre de défilement en attendant */
      }

        #onglet_ajax_loader{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

				#aside_nav {
					display: flex;
					width: 200px;
				}

				 #aside_nav ul {
					 font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
					 font-size: 18px;
					 line-height: 40px;
					 margin-top: auto;
					 margin-bottom: auto;
					 margin-left: auto;
					 margin-right: auto;
				 }

				 #aside_nav ul li {
					 color: #24252f;
					 text-align: center;
					 padding-bottom: -1px;
					 width: 105px;
				 }

				 #aside_nav ul li:hover {
					 color: white;
					 background-color: #24252f;
					 border-radius: 5px;
				 }

				 #aside_nav ul img {
					 width: 28px;
					 height: 28px;
				 }

				 #aside_nav ul li:last-of-type:hover {
					 background-color: white;
				 }

					#user_informations2 {
						width: 50%;
						height: 480px;
						margin-top: auto;
						margin-bottom: auto;
						margin-left: 20px;
						border-top: 2px solid #24252f;
						border-bottom: 2px solid #24252f;
					}

                    .modal_background{
                        background-color: rgba(0,0,0,0.4);
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        display: none;
                        z-index: 1;
                    }

                    .modal_content{
                        padding: 20px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        background-color: white;
                        border-radius: 10px;
                    }

                    #modal_drag_and_drop_img{
                        width: 500px;
                        height: 250px;
                        display: none;
                    }

                    #modal_drag_and_drop_img form{
                        width: 475px;
                        height: 209px;
                        position: absolute;
                        top: 51px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        border: 2px dashed black;
                    }

                    #modal_drag_and_drop_img h2{
                        color: #24252f;
												font-size: 18px;
												font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
                        position: absolute;
                        top: 8px;
                        width: 320px;
                        top: 8px;
                        width: 400px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        margin: 0px;
                        text-align: center;
                    }

										#modal_drag_and_drop_img p {
											color: #383945;
											font-size: 12px;
											position: absolute;
											top: 30px;
											left: 32.5%;
											font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
										}

                    #modal_drag_and_drop_img #input_img_to_upload{
                      width: 0.1px;
	                    height: 0.1px;
	                    opacity: 0;
	                    overflow: hidden;
	                    position: absolute;
	                    z-index: -1;
                    }

                    #how_to_upload_image{
                        position: absolute;
                        width: 250px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }

                    #how_to_upload_image label{
                        font-size: 15px;
                        color: rgb(0, 102, 255);
                        font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
                    }

                    #how_to_upload_image label:hover{
                        cursor: pointer;
                    }

                    #drop_zone_profile_img{
                        height: 209px;
                        width: 479px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    #modal_drag_and_drop_img .button_upload{
                        display: none;
                        position: absolute;
                        left: 50%;
                        top: 60%;
                        transform: translate(-50%, -50%);
                    }

                    .upload_error{
                        display: none;
                        position: absolute;
                        width: 250px;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                    }

                    .uploading_message{
                        display: none;
                        position: absolute;
                        width: 250px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 20px;
                    }

                    .file_wait_upload{
                        display: none;
                         position: absolute;
                         width: 250px;
                         top: 37%;
                         left: 50%;
                         transform: translate(-50%, -50%);
                         text-align: center;
                         font-size: 15px;
                    }
