@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

a {
	text-decoration: none;
}

p {
	margin: 0;
}

body {
	position: relative;
	background-color: white;
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
}

	/* HEADER */

header {
	display: flex;
	height: 60px;
	width: 100%;
}

#h_groupa {
	display: flex;
	margin-left :  75px;
  width: 110px;
	height: 100%;
	align-items: center;
}
#h_groupa img {
	width: 100%;
}

#h_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: flex-end;
	margin-left: 30px;
	width: calc(100% - 290px);
}

.h_small_resolution{
		display: none;
}
.h_small_resolution img{
	height: 25px;
	width: 25px;
}
.h_high_resolution{
	display: none;
	justify-content: space-between;
	flex-direction: row;
}

.vertical_menu{
	z-index: 5;
}
#h_vertical_menu{
	flex-direction: column;
	display: none;
	position: absolute;
	top: 37px;
	border: solid 2px grey;
	background-color: black;
	transform: translate(-50%, 0);
	left: 50%;
	width: 140px;
}
#h_vertical_menu .nav_element{
	width: 130px;
	text-align: center;
}
#h_vertical_menu .nav_element a{
	color: white;
}

			.vertical_menu{
				z-index: 5;
			}

			#h_vertical_menu{
				flex-direction: column;
				display: none;
				position: absolute;
				top: 37px;
				border: solid 2px grey;
				background-color: black;
				transform: translate(-50%, 0);
				left: 50%;
				width: 140px;
			}
			#h_vertical_menu .nav_element{
				width: 130px;
				text-align: center;
				margin-left: 0px;
				margin-top: 3px;
				margin-bottom: 3px;
			}
			#h_vertical_menu .nav_element a{
				color: white;
				font-size: 1.4vw;
			}


			@media screen and (min-width: 1024px){
				.h_high_resolution{
					display: flex;
				}
			}
			@media screen and (max-width: 1024px){
				.h_small_resolution{
					display: block;
					position: absolute;
					top: 18px;
					left: 50%;
				}
			}

				#h_groupc {
					display: flex;
					flex-direction: row-reverse;
					align-self: flex-end;
					height: 100%;
					width: 375px;
					margin-right: 75px;
					align-items: center;
				}
				#h_usera {
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					align-items: center;
				}
				#h_userb {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					display: none;
					margin-right: 25px;
				}
          #login_button{
            display: none;
          }
          #register_button{
            display: none;
          }
          #disconnect_button{
            display: none;
						background-color: #6b247e;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 27.5px;
						padding-right: 27.5px;
						border-radius: 5px;
          }
					#disconnect_button a {
						color: white;
					}

						.identification:nth-child(2) {
							margin-left: 20px;
							background-color: #6b247e;
							padding-top: 10px;
							padding-bottom: 10px;
							padding-left: 27.5px;
							padding-right: 27.5px;
							border-radius: 5px;
						}
						.identification:nth-child(2) a {
							font-weight: bold;
							font-size: 1.3vw;;
							color: white;
						}
						.identification a {
							font-family: 'Karla', cursive;
						}
						.identification:nth-child(1) a {
							font-size: 1.1vw;
							color: #656565;
						}
							#user_image {
								position: relative;
								top: 5px;
								margin-left: auto;
								margin-right: auto;
							}
							#user_image img{
								height: 40px;
								width: 40px;
							}
							#user_username {
								color: #6b247e;
								font-family: 'Karla', cursive;
								font-size: 13px;
								position: relative;
								top: -9px;
							}


	/* SECTION */

	section {
		margin-bottom: 30px;
		height: auto;
		position: relative;
		min-width: 610px;
		margin-left: auto;
		margin-right: auto;
	}
		display: flex;
		flex-direction: column;
		margin-top: 135px;
		text-align: left;
	}

	#title h1 {
		margin-top: 0;
		font-family: 'Roboto', sans-serif, Arial, Helvetica, "Liberation Sans", FreeSans;
		font-size: 3vw;
		font-weight: 900;
		color: #1a1c1c;
		margin-bottom: 0;
		border-left: 8px solid #1a1c1c;
		padding-left: 15px;
	}

	#title a {
		background-color: #ffb912;
		color: white;
		border-radius: 5px;
		padding: 10px;
		font-size: 1.75vw;
		font-family: 'Karla', sans-serif, Arial, Helvetica, "Liberation Sans", FreeSans;
		margin-top: 40px;
		margin-left: 20px;
		width: 250px;
		text-align: center;
	}

		#illustration {
			width: 70%;
			margin-top: 60px;
		}

		#sect3 {
		}

		#info {
			width: 100%;
			background-color: #1a1c1c;
			text-align: center;
		}

		#info p {
			color: white;
			font-family: 'Karla', sans-serif, Arial, Helvetica, "Liberation Sans", FreeSans;
			font-size: 1.80vw;
			padding-top: 20px;
			padding-bottom: 20px;
			font-weight: 400;
		}

		#info a {
			color: #ffb912;
		}

	/* ARTICLE */

    article{
      display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 75px;
      margin-bottom: 15px;
      height: auto;
    	width: 75%;
      background-color: white;
    }

			#articles {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.article {
				margin-top: 0px;
        margin-bottom: 40px;
				width: 100%;
			}

			.element_text p {
				font-size: 1.25vw;
				line-height: 25px;
				font-family: 'Chivo', sans-serif, Arial, Helvetica, "Liberation Sans", FreeSans;
				margin-top: auto;
				margin-bottom: auto;
				color: #1d1d1d;
			}

			.element_image img {
				width: 17.5%;
				margin-right: 50px;
				float: left;
			}

			.article:nth-child(2) a {
				color: #1d1d1d;
        text-decoration: underline;
				text-align: center;
				padding: 8px;
			}

      .article:nth-child(2) a:hover {
        color: #ff8d33;
      }

				.article:nth-child(5) a {
					color: #1d1d1d;
					font-weight: bold;
				}

						#link_forum_article{
              position: relative;
              top: 7px;
            }

              .article:nth-child(5) a img {
                width: 25%;
								border: 1px solid black;
              }

							#overview {
								display: flex;
							}

	/* ASIDE */

		#reconnection {
			display: flex;
			background-color: white;
			position: fixed;
			right: -210px;
			height: 60px;
			width: 180px;
			top: 175px;
			border-left: 1px solid white;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
		}

		.message {
			position: absolute;
			text-align: center;
			color: #2a363b;
			font-size: 20px;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			top: 15%;
      height: 25px;
			transform: translate(-50%, 0);
      left: 50%;
      width: 80%;
		}

		#message_user {
			color: #ff8d33;
      top: 54%;
      height: 60px;
    }

    .modal_background{
		background-color: rgba(0,0,0,0.4);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .modal_content{
        padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 10px;
    }

    #modal_warning_no_content{
    	display: none;
    }

    #modal_warning_no_content .warning_img{
    	height: 65px;
    	width: 65px;
    	position: relative;
    	left: 50%;
    	transform: translate(-50%, 0);
    	margin-bottom: 12px;
    }

    #modal_warning_no_content p{
    	text-align: center;
    }

    #modal_warning_no_content .modal_content{
    	height: 140px;
    	width: 270px;
    }
