@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

a {
	text-decoration: none;
}
p, h1, h2, h3 {
	margin: 0;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
}

/* SECTION */

section {
	height: auto;
	position: relative;
	min-width: 610px;
	margin-left: auto;
	margin-right: auto;
}

#sect1 {
	display: flex;
	background-image: url("/images/backgrounds/home_sect1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 750px;
}
#welc {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	text-align: left;
	width: 100%;
}
#title {
	margin-top: 150px;
	margin-left: 5%;
	color: white;
	font-size: 3.50vw;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	box-sizing: content-box;
}
#sect1_link {
	display: inline-flex;
	background-color: #4eabf0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 5%;
	margin-top: 40px;
	margin-bottom: auto;
	color: white;
	font-size: 1.3vw;
	font-family: "Open sans", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 5px;
 }


#sect2 {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#anchor_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
}
#tn_groupa {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  font-size: 1.20vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.tn_groupa_elem {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
	background-color: #f0f0f0;
	transition-property: background-color;
	transition-duration: 0.5s;
}
.tn_groupa_elem:hover {
  background-color: #dddddd;
}
.tn_groupa_elem:nth-child(2) {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

#tn_groupb {
  display: flex;
  flex-direction: row;
  margin-right: 105px;
  align-items: center;
}
#searchthis {
  display: flex;
  align-items: center;
}
#search {
  height: 30px;
  width: 250px;
  padding-left: 10px;
  border: none;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: white;
}
#search::placeholder {
  font-size: 0.80vw;
  font-family: 'Open Sans', sans-serif;
  color: #b0b0b0;
  font-weight: 300;
}
#search-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  background-color: #5e5e5e;
}
#search-icon {
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
}

/* ARTICLE */

article {
	display: flex;
	flex-direction: column;
	color: #2b2b2b;
}

#h_groupa {
	display: flex;
	flex-direction: column;
	width: 62%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.gtclass {
	font-family: "Montserrat", sans-serif;
	font-size: 1.7vw;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
}

.a_box {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}
.prevw_img {
	width: 45%;
}
.prevw_img img {
	width: 100%;
	border: 0.75px solid #f2f2f2;
}
.a_desc {
	width: 45%;
	flex-direction: column;
}
.mtclass {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2vw;
	font-weight: 500;
	letter-spacing: 1px;
}
.smllrclass {
	font-family: "Open sans", sans-serif;
	font-size: 0.95vw;
	font-weight: 400;
	border-left: 5px solid #202020;
	padding-left: 25px;
	margin-top: 25px;
	letter-spacing: 1px;
}

#h_groupb {
	width: 40%;
	flex-direction: column;
	margin-top: 175px;
	margin-left: auto;
	margin-right: auto;
}
.smllrclass_bdless {
	font-family: "Open sans", sans-serif;
	font-size: 1vw;
	font-weight: 400;
	padding-left: 25px;
	margin-top: 25px;
	letter-spacing: 1px;
    text-align: center;
}
#social_meds {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 35px;
}
#l_inst {
	height: 45px;
	width: 45px;
	margin-right: 17.5px;
	margin-left: auto;
}
#social_meds a {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	margin-right: auto;
  font-size: 0.95vw;
	color: #8a49a1;
	border-top: 2px solid #8a49a1;
	border-bottom: 2px solid #8a49a1;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	transition-property: all;
	transition-duration: 0.5s;
}
#social_meds:hover a {
	color: #c1558b;
	border-top: 2px solid #c1558b;
	border-bottom: 2px solid #c1558b;
	padding-top: 5px;
	padding-bottom: 5px;
}

#h_groupc {
	flex-direction: column;
	margin-top: 175px;
	margin-bottom: 100px;
}

.article_wallpapers_pa {
	display: flex;
	flex-direction: column;
	color: #747474;
	margin-top: 20px;
	background-color: #fbfbfb;
	border-bottom: 1px solid #f0f0f0;
	border-radius: 5px;
}
.article_wallpapers_pa .element_text {
  margin-left: auto;
  margin-right: auto;
}

/* ASIDE */

#reconnection {
	display: flex;
	background-color: white;
	position: fixed;
	right: -210px;
	height: 60px;
	width: 180px;
	top: 175px;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.message {
	position: absolute;
	text-align: center;
	color: #2a363b;
	font-size: 20px;
	top: 15%;
  height: 25px;
	transform: translate(-50%, 0);
  left: 50%;
  width: 80%;
}
#message_user {
	color: #ff8d33;
  top: 54%;
  height: 60px;
}

/* Pop-up (Element inexistant) */

.modal_background{
	background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal_content{
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}
#modal_warning_no_content{
	display: none;
}
#modal_warning_no_content .warning_img{
	height: 65px;
	width: 65px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 12px;
}
#modal_warning_no_content p{
	text-align: center;
}
#modal_warning_no_content .modal_content{
	height: 140px;
	width: 270px;
}

    /* MEDIA QUERIES */

/* MQ FOR SMALLS RESOLUTIONS */
@media screen and (max-width: 1024px){

    /* FONT SIZE */

    .g_title_prts h2{
        font-size: 5vw;
    }

    .g_title_sprt h2{
        font-size: 5vw;
    }

    .g_title_wprs h2{
        font-size: 3.9vw;
    }

    .g_title_cnct h2{
        font-size: 3.9vw;
    }

    .a1 p{
        font-size: 3.5vw
    }

    .a2 p{
        font-size: 3.5vw
    }

    .support p{
        font-size: 3.5vw
    }

    .element_title h3{
        font-size: 4.1vw;
    }

    .social_net a{
        font-size: 3vw;
    }

    .contact p{
        font-size: 3.5vw;
    }

    #link a{
        font-size: 2.6vw;
    }

    .inf_area h3{
        font-size: 2.4vw;
    }

    #link_to{
        font-size: 2.1vw;
    }

    #sect1_link {
        font-size: 2.6vw;
    }

    #title {
        font-size: 4.9vw;
    }

    #tn_groupa{
        font-size: 2.2vw;
    }

    .gtclass {
        font-size: 3.9vw;
    }

    .mtclass {
        font-size: 2.2vw;
    }

    .smllrclass {
        font-size: 1.65vw;
    }

    .smllrclass_bdless {
        font-size: 1.65vw;
    }

    #social_meds a {
        font-size: 2.45vw;
    }

    /* WIDTH, MARGIN */

    .social_net {
        width: 45%;
    }

    .contact{
        width: 85%;
    }

    .g_title_cnct h2{
        width: 85%;
    }

    #s_groupa_smallg{
        width: 100%;
    }

    .a2{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 28px;
    }

    .g_title_sprt h2{
        margin-top: 145px;
    }

    #tn_groupa{
        margin-left: 25px;
    }

    #tn_groupb {
        margin-right: 25px;
    }

    #h_groupa {
        width: 80%;
    }

    #h_groupb {
        width: 80%;
    }

    .prevw_img{
        width: 90%;
        margin-top: 30px;
        margin-bottom: 50px;
         margin-left: auto;
         margin-right: auto;
    }

    .a_desc{
        width: 100%;
    }

    #h_groupb {
        margin-top: 115px;
    }

    .smllrclass {
        border-left: 0;
        border-bottom: 5px solid black;
        padding-bottom: 25px;
    }



    /* FLEX, ORDER, DISPLAY */

    #s_groupa_con{
        flex-direction: column;
    }

    .a1{
        order: 1;
    }

    .a2 p{
        background-color: #f6f6f6;
    }

    .a2_solveit{
        order: 2;
    }

    .a2_forum{
        order: 3;
    }

    .g_title_sprt{
        order: 4;
    }

    .support{
        order: 5;
    }

    .small_resolution {
        display: flex;
    }

    .high_resolution{
        display: none;
    }

    .a_box{
        flex-direction: column;
    }

    .a_desc {
        order: 0;
    }

    .prevw_img {
        order: 1;
    }

    #search::placeholder {
        font-size: 1.55vw;
    }
}

/* MQ FOR ALL RESOLUTIONS UNLESS SMALLS */
@media screen and (min-width: 1025px){

    .small_resolution{
        display: none;
    }

    .high_resolution{
        display: flex;
    }
}

/* MQ FOR MEDIUMS RESOLUTIONS */
@media screen and (min-width: 1025px) and (max-width: 1379px){

    #tn_groupa {
        font-size: 1.55vw;
        margin-left: 40px;
    }

    #tn_groupb {
        margin-right: 40px;
    }

    .gtclass {
        font-size: 2vw;
    }

    #h_groupa {
        width: 65%;
    }

    .mtclass {
        font-size: 1.6vw;
    }

    .smllrclass {
        font-size: 1.6vw;
    }

    #title{
        font-size: 3.8vw;
    }

    #sect1_link {
        font-size: 1.85vw;
    }

    .smllrclass_bdless {
        font-size: 1.6vw;
    }

    #social_meds a {
        font-size: 1.6vw;
    }
}

/* Code du s_groupb/une partie du h_groupc (partie du support) [qui ont été supprimés] <- à ne pas retirer du code, en cas de besoin dans le futur */
/*#s_groupb {
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}
.a2 {
	display: flex;
	flex-direction: column;
	width: 47.5%;
	color: #747474;
}
.element_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.a_icon {
	width: 50px;
	height: 50px;
}
.element_title h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.75vw;
	margin-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
	border-left: 3px solid #747474;
	padding-left: 7.5px;
}
.a2 p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	background-color: #f6f6f6;
	line-height: 150%;
	font-weight: 200;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 5px;
}

#s_groupc {
	flex-direction: column;
	margin-top: 90px;
}
.a3 {
	display: flex;
	flex-direction: column;
	color: #747474;
}
.element_text h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 2.25vw;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
}
.a3 p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	text-align: center;
	line-height: 150%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.social_net {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 25%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f6f6f6;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 50px;
}
.social_net img {
  width: 35px;
	margin-left: auto;
}
.social_net a {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	font-weight: 200;
	color: #747474;
	margin-right: auto;
	margin-left: 15px;
}*/
