@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200,200i');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');

a {
	text-decoration: none;
}

p {
	margin: 0;
}

body {
	position: relative;
	background-color: white;
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
	display: flex;
	height: 60px;
	width: 100%;
}

#h_groupa {
	display: flex;
	margin-left :  75px;
  width: 110px;
	height: 100%;
	align-items: center;
}
#h_groupa img {
	width: 100%;
}

#h_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: center;
	margin-left: 30px;
	width: calc(100% - 290px);
}
.nav_element {
	margin-left: 20px;
	margin-right: 20px;
}
.nav_element a {
	color: #515151;
	font-family: 'Karla', cursive;
	font-weight: lighter;
	font-size: 1.1vw;
}

.h_small_resolution{
		display: none;
}
.h_small_resolution img{
	height: 25px;
	width: 25px;
	position: absolute;
	top: 18px;
	left: 50%;
	transform: translate(-50%, 0);
}
.h_high_resolution{
	display: none;
	justify-content: space-between;
	flex-direction: row;
}

.vertical_menu{
	z-index: 5;
}
#h_vertical_menu{
	flex-direction: column;
	display: none;
	position: absolute;
	top: 37px;
	border: solid 2px grey;
	background-color: black;
	transform: translate(-50%, 0);
	left: 50%;
	width: 170px;
    height: 120px;
}

#h_vertical_menu .nav_element{
	width: 130px;
	text-align: center;
}
#h_vertical_menu .nav_element a{
	color: white;
    font-size: 1.7vw;
}

#h_vertical_menu .nav_element_forum{
    position: relative;
    top: 8px;
}

#h_vertical_menu .nav_element_projects{
    position: relative;
    top: 16px;
}

#h_vertical_menu .nav_element_about{
    position: relative;
    top: 24px;
}

#h_vertical_menu .nav_element_contact{
    position: relative;
    top: 32px;
}

@media screen and (min-width: 1024px){
	.h_high_resolution{
		display: flex;
	}
}
@media screen and (max-width: 1024px){
	.h_small_resolution{
		display: block;
	}
}

#h_groupc {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	height: 100%;
	width: 375px;
	margin-right: 75px;
	align-items: center;
}
.identification:nth-child(2) {
	margin-left: 20px;
	background-color: #ffc25f;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
.identification:nth-child(2) a {
	font-weight: bold;
	font-size: 1.1vw;;
	color: white;
}
.identification a {
	font-family: 'Karla', cursive;
}
.identification:nth-child(1) a {
	font-size: 1.1vw;
	color: #656565;
}

#h_usera {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
#login_button{
  display: none;
}
#register_button{
  display: none;
}
#h_userb {
	display: flex;
	flex-direction: row;
	text-align: center;
	display: none;
	margin-left: 25px;
	margin-right: 25px;
}
#user_image {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 3px;
}
#user_image img{
	height: 40px;
	width: 40px;
}
#user_username {
	color: #6b247e;
	font-family: 'Karla', cursive;
	font-size: 1.15vw;
	position: relative;
	top: -9px;
}
#disconnect_button{
  display: none;
	background-color: #ffc25f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
#disconnect_button a {
	color: white;
}

/* SECTION */

section {
	height: auto;
	position: relative;
	min-width: 610px;
	margin-left: auto;
	margin-right: auto;
}

#sec_1 {
	display: inline-flex;
	justify-content: space-between;
	width: 90%;
	margin-top: 25px;
	background-image: url("/images/backgrounds/home_i_background.svg");
	background-repeat: no-repeat;
	background-position: left 0px top -50px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#welcome_t {
	display: flex;
	flex-direction: column;
	width: 55%;
}
#title {
	text-align: left;
	margin-top: 10px;
	text-align: center;
}
#title h1 {
	color: #1c1c1c;
	font-size: 3vw;
	font-family: 'Rubik Mono One', sans-serif;
	margin-top: 25px;
	margin: 0;
	padding-bottom: 40px;
  text-shadow: 4px 4px 0px #e7e7e7;
}
#link {
	text-align: center;
}
#link a {
	background-color: #191919;
	color: white;
	font-size: 1vw;
	font-family: 'Karla', cursive;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	letter-spacing: 2px;
}
#welcome_i {
	width: 35%;
	margin-right: 50px;
}

#sec_2 {
		margin-top: 25px;
}
#inf_box {
	display: flex;
	justify-content: space-between;
	width: 90%;
	background-color: #282828;
	border-radius: 50px;
	margin-left: auto;
	margin-right: auto;
}
.inf_area {
	background-color: #1c1c1c;
	text-align: center;
	border-radius: 50px;
	font-family: 'Roboto', cursive;
}
.inf_area  h3 {
	color: white;
	font-size: 15px;
	font-weight: 300;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}
#link_to {
	display: inline-block;
  vertical-align: middle;
	color: white;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 300;
}

/* ARTICLE */

article {
  display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
  margin-bottom: 15px;
  height: auto;
	width: 85%;
}

#s_groupa, #s_groupb, #s_groupc {
	display: flex;
}

#s_groupa {
	margin-top: 35px;
}
.a1 {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
  text-align: center;
	color: #747474;
}
.element_text h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 2.50vw;
	margin-bottom: 20px;
}
.a1 p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	background-color: #f6f6f6;
	line-height: 150%;
	font-weight: 200;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 5px;
}

#s_groupb {
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
}
.a2 {
	display: flex;
	flex-direction: column;
	width: 47.5%;
	color: #747474;
}
.element_title {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.a_icon {
	width: 50px;
	height: 50px;
}
.element_title h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.75vw;
	margin-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
	border-left: 3px solid #747474;
	padding-left: 7.5px;
}
.a2 p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	background-color: #f6f6f6;
	line-height: 150%;
	font-weight: 200;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 5px;
}

#s_groupc {
	flex-direction: column;
	margin-top: 90px;
}
.a3 {
	display: flex;
	flex-direction: column;
	color: #747474;
}
.element_text h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 2.25vw;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 0;
}
.a3 p {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25vw;
	text-align: center;
	line-height: 150%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.social_net {
	display: flex;
	flex-direction: column;
	text-align: center;
  width: 100%;
}
.social_net a {
}
.social_net img {
  width: 80px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
}
.article_wallpapers_pa {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.article_wallpapers_pa h3 {
  text-align: center;
}
.article_wallpapers_pa .element_text {
  margin-left: auto;
  margin-right: auto;
}

/* ASIDE */

#reconnection {
	display: flex;
	background-color: white;
	position: fixed;
	right: -210px;
	height: 60px;
	width: 180px;
	top: 175px;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.message {
	position: absolute;
	text-align: center;
	color: #2a363b;
	font-size: 20px;
	top: 15%;
  height: 25px;
	transform: translate(-50%, 0);
  left: 50%;
  width: 80%;
}
#message_user {
	color: #ff8d33;
  top: 54%;
  height: 60px;
}

/* Pop-up (Element inexistant) */

.modal_background{
	background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal_content{
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
}
#modal_warning_no_content{
	display: none;
}
#modal_warning_no_content .warning_img{
	height: 65px;
	width: 65px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 12px;
}
#modal_warning_no_content p{
	text-align: center;
}
#modal_warning_no_content .modal_content{
	height: 140px;
	width: 270px;
}
