/* Box */

.widget_simple_image_viewer {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.widget_simple_image_viewer .widget_body {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

/* Previews */

.left_image img, .central_image img, .right_image img {
  border-radius: 3.25px;
  border: 1.75px solid #e3e3e3;
}
.widget_simple_image_viewer .left_image img {
  width: 425px;
  height: 250px;
  margin-left: 50px;
}
.widget_simple_image_viewer .central_image img {
  width: 500px;
  height: 295px;
  margin-left: 25px;
  margin-right: 25px;
}
.widget_simple_image_viewer .right_image img {
  width: 425px;
  height: 250px;
  margin-right: 50px;
}

.widget_simple_image_viewer .left_arrow img {
  width: 40px;
}
.widget_simple_image_viewer .right_arrow img {
  width: 40px;
}

/* Small resolutions */
@media screen and (max-width: 1024px) {

  .widget_simple_image_viewer .left_image img {
    width: 180px;
    height: 95px;
    margin-left: 30px;
  }
  .widget_simple_image_viewer .central_image img {
    width: 230px;
    height: 120px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .widget_simple_image_viewer .right_image img {
    width: 180px;
    height: 95px;
    margin-right: 30px;
  }

  .widget_simple_image_viewer .left_arrow img {
    width: 30px;
  }
  .widget_simple_image_viewer .right_arrow img {
    width: 30px;
  }

}
