@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}

#body_content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

	/* Header */

			#h_element {
				margin-top: 150px;
			}

			#infa {
				font-size: 25px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

			#infb {
				font-size: 15px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

				#infb a {
					color: #ff8d33;
				}

	/* Section ==> FIELDSET */

		fieldset {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25px;
			width: 500px;
			height: 300px;
			border: 2px solid white;
			border-radius: 5px;
		}

  /* FORMULAIRE */

    #nickname {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			height: 30px;
			border: 1px solid #2a363b;
			background-color: #f9f9f9;
			padding-left: 5px;
    }

    #validation_nickname {
      width: 25px;
      height: 25px;
      visibility: hidden;
    }

    #pass {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			height: 30px;
			border: 1px solid #2a363b;
			background-color: #f9f9f9;
			padding-left: 5px;
    }

    #validation_pass {
      width: 25px;
      height: 25px;
      visibility: hidden;
    }

    #pass_confirm {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			height: 30px;
			border: 1px solid #2a363b;
			background-color: #f9f9f9;
			padding-left: 5px;
    }

    #validation_pass_confirm {
      width: 25px;
      height: 25px;
      visibility: hidden;
    }

    #email {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			height: 30px;
			border: 1px solid #2a363b;
			background-color: #f9f9f9;
			padding-left: 5px;
    }

    #validation_email {
      width: 25px;
      height: 25px;
      visibility: hidden;
    }

	/* SEND */

		#send {
			position: relative;
			bottom: -13px;
			margin-left: 385px;
		}

		.send {
			padding-left: 14px;
			padding-right: 14px;
			height: 35px;
			color: #24252f;
			border: 2px solid;
			background-color: white;
			border-color: #24252f;
			border-radius: 5px;
		}

		.send:hover {
			transition: 0.2s;
			background-color: #ff8d33;
			color: white;
		}

  /* FORMULAIRE ERROR */

    .text_error { /* Modifie le formatage du texte des erreurs */
			padding-left: 5px;
			padding-right: 5px;
			word-wrap: break-word;
    }

    .message_error { /*Ce qu'il faut appliquer a tout les messages d'erreurs */
			width: 350px;
			margin-left: auto;
			margin-right: auto;
			padding-bottom: auto;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
			border: 2px solid white;
			color: white;
    }

    #message_error_bad_filled {
			position: relative;
			top: 150px;
			height: auto;
    }

    #text_error_bad_filled {
      text-align: center;
    }

    #message_error_nickname { /*Ce qu'il faut appliquer individuellement */
      position: relative;
      top: 150px;
			height: auto;
    }

    #message_error_password {
      position: relative;
      top: 150px;
    }

    #message_error_confirmation_password {
      position: relative;
      top: 150px;
    }

    #message_error_email {
      position: relative;
      top: 150px;
    }
