a {
	color: #24252f;
	text-decoration: none;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	.website_name {
		display: flex;
		position: absolute;
		font-size: 30px;
		font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
		position: absolute;
		margin-top: 15px;
		margin-left: 90px;
	}

	.website_name a {
		color: #24252f;
	}

	/* CENTER WINDOW */

	section {
    position: relative;
		display: flex;
		margin-top: 140px;
		height: 400px;
		margin-left: auto;
    margin-right: auto;
    width: 530px;
	}

		.programming_ants_logo_ide {
      position: absolute;
			height: 50px;
			width: 50px;
			margin-top: 7px;
			margin-left: 390px;
		}

			/* ==> FIELDSET */

			fieldset {
				display: flex;
				position: absolute;
				margin-left: 50px;
				margin-top: 80px;
				width: 400px;
				height: 180px;
				border: 2px solid;
				border-color: #24252f;
				border-radius: 5px;
			}

				legend {
					color: #24252f;
					font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
					font-size: 20px;
				}

					label {
						color: #24252f;
						font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
						font-size: 15px;
					}

                    /* FORMULAIRE */

                    #nickname{
                        position: absolute;
                        left: 170px;
                        top: 30px;
                        width: 200px;
                        height: 20px;
                    }

                    #nickname_label{
                        position: absolute;
                        left: 97px;
                        top: 33px;
                    }

                    #validation_nickname {
                        position: absolute;
                        left: 385px;
                        top: 30px;
                        width: 25px;
                        height: 25px;
                        visibility: hidden;
                    }

                    #pass{
                        position: absolute;
                        left: 170px;
                        top: 70px;
                        width: 200px;
                        height: 20px;
                    }

                    #pass_label{
                        position: absolute;
                        left: 97px;
                        top: 73px;
                    }

                    #validation_pass {
                        position: absolute;
                        left: 385px;
                        top: 73px;
                        width: 25px;
                        height: 25px;
                        visibility: hidden;
                    }

                    #confirmation_password{
                        position: absolute;
                        left: 170px;
                        top: 110px;
                        width: 200px;
                        height: 20px;
                    }

                    #confirmation_password_label{
                        position: absolute;
                        left: 42px;
                        top: 113px;
                    }

                    #validation_confirmation_password {
                        position: absolute;
                        left: 385px;
                        top: 113px;
                        width: 25px;
                        height: 25px;
                        visibility: hidden;
                    }

                    #email{
                        position: absolute;
                        left: 170px;
                        top: 150px;
                        width: 198px;
                        height: 20px;
                    }

                    #email_label{
                         position: absolute;
                         left: 120px;
                         top: 153px;
                    }

                    #validation_email {
                        position: absolute;
                        left: 385px;
                        top: 153px;
                        width: 25px;
                        height: 25px;
                        visibility: hidden;
                    }


				/* SEND */

					#send {
						position: absolute;
						top: 213px;
						left: 364px;
					}

						.send {
							background-color: white;
							padding-left: 14px;
							padding-right: 14px;
							height: 35px;
							color: #24252f;
							border: 2px solid;
							border-color: #24252f;
							border-radius: 5px;
						}

						.send:hover {
							background-color: #ffb322;
							color: white;
							border-color: #ffb322;
						}

                /* FORMULAIRE ERROR */

                    .text_error{ /* Modifie le formatage du texte des erreurs */
                        width: 300px;
                        padding-left: 5px;
                        padding-right: 5px;
                        word-wrap: break-word;
                    }

                    .message_error{ /*Ce qu'il faut appliquer a tout les messages d'erreurs */
                      padding-bottom: auto;
											font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
                      border: 2px solid #24252f;
					    				color: #24252f;
                    }

                    #message_error_bad_filled{
                        position: relative;
                        top: 350px;
                        left: 110px;
                        height: 50px;
                    }

                    #text_error_bad_filled{
                        text-align: center;
                    }

                    #message_error_nickname{ /*Ce qu'il faut appliquer individuellement */
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 100px;
                        left: 500px;
                    }

                    #message_error_password{
                        width:auto;
                        height:auto;
                        position: absolute;
                        top: 140px;
                        left: 500px;
                    }

                    #message_error_confirmation_password{
                        width:auto;
                        height:auto;
                        position: absolute;
                        top: 180px;
                        left: 500px;
                    }

                    #message_error_email{
                        width:auto;
                        height:auto;
                        position: absolute;
                        top: 220px;
                        left: 500px;
                    }
