header {
	width: 100%;
}

header .part_1 {
    display: flex;
	height: 72px;
}

#h_groupa {
	display: flex;
	margin-left :  75px;
  width: 110px;
	height: 100%;
	align-items: center;
}
#h_groupa img {
	width: 100%;
}

#h_groupa a{
    width: 100%;
}

#h_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: center;
	margin-left: 30px;
	width: calc(100% - 290px);
}
.nav_element {
    margin-left: 20px;
}
.nav_element a {
	color: #515151;
	font-family: 'Karla', cursive;
	font-weight: lighter;
	font-size: 1.4vw;
}

.nav_element_login {
    margin-left: auto;
    margin-right: auto;
}

.nav_element_register {
    margin-left: auto;
    margin-right: auto;
}

.h_small_resolution{
		display: none;
}
.h_small_resolution img{
	height: 40px;
	width: 40px;
	position: absolute;
	top: 28px;
	left: 50%;
	transform: translate(-50%, 0);
}
.h_high_resolution{
	display: none;
	justify-content: space-between;
	flex-direction: row;
    width: 380px;
}

.vertical_menu{
	z-index: 5;
}
#h_vertical_menu{
	flex-direction: column;
	display: none;
	width: 300px;
    margin-top: 30px;
    border: 2px solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    right: -2px;
    background-color: white;
}

#h_vertical_menu .nav_element{
	width: 250px;
}
#h_vertical_menu .nav_element a{
	color: black;
    font-size: 4vw;
}

@media screen and (min-width: 1025px){
	.h_high_resolution{
		display: flex;
	}
}
@media screen and (max-width: 1024px){
	.h_small_resolution{
		display: block;
	}
}

#h_groupc {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	height: 100%;
	width: 380px;
	margin-right: 75px;
	align-items: center;
}
.identification:nth-child(2) {
	margin-left: 20px;
	background-color: #ffc25f;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
.small_resolution.identification:nth-child(2) {
	margin-left: 0px;
}

.identification:nth-child(2) a {
	font-weight: bold;
	font-size: 1.4vw;;
	color: white;
}
.identification a {
	font-family: 'Karla', cursive;
}
.identification:nth-child(1) a {
	font-size: 1.4vw;
	color: #656565;
}

#h_usera {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.small_resolution#h_usera{
    position: relative;
    left: -20px;
    display: block;
}

#login_button{
  display: none;
}

#register_button {
  display: none;
}

#h_userb {
	display: flex;
	flex-direction: row;
	text-align: center;
	display: none;
	margin-left: 25px;
	margin-right: 25px;
}
#user_image {
	margin-left: auto;
	margin-right: auto;
}

#user_image img {
	height: 40px;
	width: 40px;
    margin-top: 8px;
}

#user_username{
    position: relative;
    top: -2px;
}
#disconnect_button {
  display: none;
	background-color: #ffc25f;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
#disconnect_button a {
	font-weight: bold;
	font-size: 1.4vw;;
	color: white;
}

/* On agrandis certains textes sur les textes des petites résolutions */
@media screen and (max-width: 1024px){

    :nth-child(1).identification a{
        font-size: 2.7vw;
    }

    :nth-child(2).identification a{
        font-size: 2.7vw;
    }

    /*.identification{
        margin-top: 23px;
    }*/

    #disconnect_button a {
    	font-size: 2vw;;
    }

    #h_groupa{
        width: 260px;
        position: relative;
        top: 10px;
        margin-left: 35px;
        margin-top: 4px;
    }

    #h_groupc{
        margin-right: 35px;
    }
}
