header {
	display: flex;
	height: 60px;
	width: 100%;
}

#h_groupa {
	display: flex;
	margin-left :  75px;
  width: 110px;
	height: 100%;
	align-items: center;
}
#h_groupa img {
	width: 100%;
}

#h_groupa a{
    width: 100%;
}

#h_groupb {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 100%;
	align-items: center;
	margin-left: 30px;
	width: calc(100% - 290px);
}
.nav_element {
	margin-left: 20px;
	margin-right: 20px;
}
.nav_element a {
	color: #515151;
	font-family: 'Karla', cursive;
	font-weight: lighter;
	font-size: 1.1vw;
}

.h_small_resolution{
		display: none;
}
.h_small_resolution img{
	height: 40px;
	width: 40px;
	position: absolute;
	top: 18px;
	left: 50%;
	transform: translate(-50%, 0);
}
.h_high_resolution{
	display: none;
	justify-content: space-between;
	flex-direction: row;
}

.vertical_menu{
	z-index: 5;
}
#h_vertical_menu{
	flex-direction: column;
	display: none;
	position: absolute;
	top: 37px;
	border: solid 2px grey;
	background-color: black;
	transform: translate(-50%, 0);
	left: 50%;
	width: 170px;
    height: 143px;
}

#h_vertical_menu .nav_element{
	width: 130px;
	text-align: center;
}
#h_vertical_menu .nav_element a{
	color: white;
    font-size: 2.5vw;
}

#h_vertical_menu .nav_element_forum{
    position: relative;
    top: 12px;
}

#h_vertical_menu .nav_element_projects{
    position: relative;
    top: 24px;
}

#h_vertical_menu .nav_element_about{
    position: relative;
    top: 36px;
}

#h_vertical_menu .nav_element_contact{
    position: relative;
    top: 48px;
}

@media screen and (min-width: 1025px){
	.h_high_resolution{
		display: flex;
	}
}
@media screen and (max-width: 1024px){
	.h_small_resolution{
		display: block;
	}
}

@media screen and (min-width: 927px){
	#h_vertical_menu{
        height: 173px;
    }
}

@media screen and (max-width: 927px){
	#h_vertical_menu{
        height: 164px;
    }
}

#h_groupc {
	display: flex;
	flex-direction: row-reverse;
	align-self: flex-end;
	height: 100%;
	width: 375px;
	margin-right: 75px;
	align-items: center;
}
.identification:nth-child(2) {
	margin-left: 20px;
	background-color: #ffc25f;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
.identification:nth-child(2) a {
	font-weight: bold;
	font-size: 1.1vw;;
	color: white;
}
.identification a {
	font-family: 'Karla', cursive;
}
.identification:nth-child(1) a {
	font-size: 1.1vw;
	color: #656565;
}

#h_usera {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
#login_button{
  display: none;
}
#register_button {
  display: none;
}
#h_userb {
	display: flex;
	flex-direction: row;
	text-align: center;
	display: none;
	margin-left: 25px;
	margin-right: 25px;
}
#user_image {
	margin-left: auto;
	margin-right: auto;
}

#user_image img {
	height: 40px;
	width: 40px;
    margin-top: 8px;
}

#user_username{
    position: relative;
    top: -2px;
}
#disconnect_button {
  display: none;
	background-color: #ffc25f;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 27.5px;
	padding-right: 27.5px;
	border-radius: 5px;
}
#disconnect_button a {
	font-weight: bold;
	font-size: 1.1vw;;
	color: white;
}

/* On agrandis certains textes sur les textes des petites résolutions */
@media screen and (max-width: 1024px){

    :nth-child(1).identification a{
        font-size: 2.8vw;
    }

    :nth-child(2).identification a{
        font-size: 2.8vw;
    }

    .identification{
        margin-top: 16px;
    }

    #disconnect_button a {
    	font-size: 2vw;;
    }

    #h_groupa{
        width: 210px;
        position: relative;
        top: 5px;
        margin-left: 35px;
        margin-top: 4px;
    }

    #h_groupc{
        margin-right: 35px;
    }
}
