@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,600,800|Roboto:300,400,500');

/* Le bloc contenant la liste des forums */

#central_onglet_body {
  margin-top: 40px;
  margin-bottom: 90px;
}

/* Liste des forums */

article {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.f_category {
  display: flex;
  flex-direction: column;
}
.f_category:nth-child(2) {
  margin-top: 85px;
}
.f_category:nth-child(3) {
  margin-top: 85px;
}
.category_title {
  font-size: 1.85vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #313131;
  padding-left: 17.5px;
  letter-spacing: 2px;
}

.f_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.forum_desc {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  min-width: 30.5%;
  max-width: 30.5%;
}

.forum_desc_groupa {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}
.f_icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 27.5%;
}
.f_inf {
  display: flex;
  flex-direction: column;
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  border-left: 1px solid #d6d6d6;
}
.forum_name {
  font-size: 1.75vw;
  font-weight: 600;
  color: #202020;
}
.forum_small_desc {
  margin-top: 15px;
  font-size: 1.05vw;
  font-weight: 300;
  color: #515151;
}

.forum_desc_groupb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.n_topics_forum, .n_messages_forum {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #202020;
}
.n_topics_forum {
 margin-right: 5px;
 font-size: 0.90vw;
 font-weight: 300;
}
.last_message_forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}
.lmf_inf {
 font-size: 1.10vw;
 font-weight: 500;
 color: #202020;
}
.message {
  margin-top: 2.5px;
  font-size: 1vw;
  font-weight: 300;
  font-style: italic;
}
.n_messages_forum {
  margin-left: 5px;
  font-size: 0.90vw;
  font-weight: 300;
}

/* On addapte la taille du texte et des margins de certaines balises pour les petites résolutions */
@media screen and (max-width: 1024px){

	.index_path{
        font-size: 2.9vw;
    }

    #index_path_smll{
        font-size: 2.75vw;
    }

    #tn_groupa{
        font-size: 2.75vw;
        margin-left: 35px;
    }

    #tn_groupb{
        margin-right: 35px;
    }

    .forum_small_desc{
        font-size: 3.2vw;
        margin-top: 6px;
    }

    .forum_name{
        font-size: 3.4vw;
    }

    .category_title{
        font-size: 3.7vw;
    }

    #search{
        font-size: 2.3vw;
    }

    #search::placeholder {
        font-size: 2.3vw;
    }

    .lmf_inf{
        font-size: 2.6vw;
    }

    .message{
        font-size: 2.5vw;
    }

    .n_messages_forum{
        font-size: 2.7vw;
    }

    .n_topics_forum{
        font-size: 2.7vw;
    }

}

/* On addapte la taille ou les marges de certains objets pour les petites résolutions */
@media screen and (max-width: 1024px){

    .forum_desc{
        min-width: 90%;
        max-width: 90%;
    }

    #search{
        width: 270px;
    }

    .f_icon{
        width: 17%;
    }

    #central_onglet_body{
        margin-top: 90px;
    }

    #search-btn {
        width: 40px;
        height: 40px;
    }

    #search{
        height: 40px;

    }
}
