@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,600,800|Roboto:300,400,500');

/* Le bloc contenant la liste des sujets */

#central_onglet_body {
  margin-top: 40px;
  margin-bottom: 90px;
}

#text {
  width: 0;
}

/* Indexe */

.index_path {
  margin-left: 50px;
  font-size: 1.05vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #454545;
  padding-left: 10px;
  border-left: 5px solid #313131;
}
#previous_page {
  color: #454545;
}
#index_path_smll {
  font-size: 0.90vw;
  font-weight: 400;
  color: #969696;
}

/* Barre de nav */

#top_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17.5px;
  background-color: #f0f0f0;
}
#tn_groupa {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  font-size: 1.20vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.tn_groupa_elem {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tn_groupa_elem a {
  color: #4d4d4d;
}
.tn_groupa_elem:hover a {
  color: black;
  transition: 0.2s;
}
.tn_groupa_elem:nth-child(2) {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

#tn_groupb {
  display: flex;
  flex-direction: row;
  margin-right: 75px;
  align-items: center;
}
#searchthis {
  display: flex;
  align-items: center;
}
#search {
  height: 30px;
  width: 250px;
  padding-left: 10px;
  border: none;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: white;
}
#search::placeholder {
  font-size: 1.05vw;
  font-family: 'Roboto', sans-serif;
  color: #6d6d6d;
}
#search-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  background-color: #5e5e5e;
}
#search-icon {
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
}

/* Liste des sujets */

article {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.f_inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.f_name {
  font-size: 1.65vw;
  font-family: 'Montserrat', cursive;
  font-weight: 500;
  color: #313131;
  letter-spacing: 2px;
}
.create_topic {

}
.create_topic h3 {
  font-size: 1.07vw;
  font-family: 'Robot', sans-serif;
  font-weight: 400;
  color: #696969;
}

.f_part {
  margin-top: 30px;
}

.topics_pinned {
  margin-top: 15px;
  border-top: 1.5px solid #ececec;
  border-bottom: 1.5px solid #ececec;
}
.no_pinned_topic {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 1.05vw;
  font-family: 'Montserrat', cursive;;
  font-weight: 300;
  color: #565656;
}

.topics_lasted {
  margin-top: 30px;
  border-top: 1.5px solid #ececec;
  border-bottom: 1.5px solid #ececec;
}
.no_topic p {
  text-align: center;
  font-size: 1.05vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #565656;
}
.no_topic h4 {
  text-align: center;
  font-size: 0.95vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #727272;
}
.no_topic h4 a {
  color: #a1a1a1;
}


/* Description du sujet */
.topic_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.topic_desc_groupa {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 37%;
}
.topic_title {
  font-size: 1.40vw;
  font-family: 'Montserrat', cursive;
  font-weight: 600;
  color: #222222;
}
.topic_author {
  margin-top: 5px;
  font-size: 1vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #ababab;
}
.spec_ib {
  color: #5a5a5a;
  font-family: 'Montserrat', cursive;
  font-weight: 500;
}

.topic_desc_groupb {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
}
.n_message_topic, .n_view_topic {
  font-size: 1.10vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #363636;
}
.n_view_topic {
  margin-top: 5px;
}

.topic_desc_groupc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 25px;
  margin-left: 6%;
}
.topic_last_post {

}
.label_post_author {
  font-size: 1vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #ababab;
}
.post_author {
  margin-top: 2.5px;
  width: 100%;
  font-size: 1vw;
  font-family: 'Montserrat', cursive;
  font-weight: 500;
  color: #5a5a5a;
}
.date_post {
  margin-top: 2.5px;
  font-size: 1vw;
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  color: #ababab;
}
/* ------------- */


.topic_page {
  margin-top: 25px;
  margin-bottom: 25px;
}
.page_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.page_selector a {
    width: 10%;
    display: flex; /* Pour centrer les flèches qui sont dedans en hauteur */
}

.page_selector a img {
    width: 100%;
}

.arrow_left {
  width: 10%;
  margin-right: 1px;
}
.arrow_right {
  width: 10%;
  margin-left: 1px;
}
.pages {
  text-align: center;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  background-color: #ececec;
  border-radius: 5px;
}
.pages a {
  font-size: 1.10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #313131;
}

/* On agrandis certains textes sur les textes des petites résolutions */
@media screen and (max-width: 1024px){

    .index_path{
        font-size: 2.65vw;
    }

    #index_path_smll{
        font-size: 2.4vw;
    }

    #tn_groupa{
        font-size: 2.7vw;
        margin-left: 35px;
    }

    #tn_groupb{
        margin-right: 35px;
    }

    #search{
        font-size: 20px;
    }

    .topic_title{
        font-size: 2.1vw;
    }

    .topic_author{
        font-size: 1.6vw;
    }

    .n_message_topic, .n_view_topic{
        font-size: 1.85vw;
    }

    .create_topic h3{
        font-size: 1.8vw;
    }

    .f_name{
        font-size: 1.85vw;
    }

    .no_pinned_topic{
        font-size: 2.5vw;
    }

    .no_topic{
        font-size: 2.5vw;
    }

}

/* On agrandis certains objets sur les petites résolutions */
@media screen and (max-width: 1024px){

    article{
        width: 75%;
    }
}
