@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');

/* Le bloc contenant la liste des sujets */

#central_onglet_body {
  margin-top: 40px;
  margin-bottom: 90px;
}

#text {
  width: 0;
}

/* Indexe */

.index_path {
  margin-left: 50px;
  font-size: 0.90vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: ;
  padding-left: 10px;
  border-left: 5px solid ;
}
#previous_page {
  color: ;
}
#index_path_smll {
  font-size: 0.90vw;
  font-weight: 400;
  color: ;
}

/* Barre de nav */

#top_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  background-color: #f0f0f0;
}
#tn_groupa {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  font-size: 1.20vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
.tn_groupa_elem {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.tn_groupa_elem a {
  color: ;
}
.tn_groupa_elem:hover a {
  color: ;
  transition: 0.2s;
}
.tn_groupa_elem:nth-child(2) {
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

#tn_groupb {
  display: flex;
  flex-direction: row;
  margin-right: 105px;
  align-items: center;
}
#searchthis {
  display: flex;
  align-items: center;
}
#search {
  height: 30px;
  width: 250px;
  padding-left: 10px;
  border: none;
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px;
  background-color: white;
}
#search::placeholder {
  font-size: 0.80vw;
  font-family: 'Open Sans', sans-serif;
  color: #b0b0b0;
  font-weight: 300;
}
#search-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  background-color: #5e5e5e;
}
#search-icon {
  width: 100%;
  margin-left: auto;
  margin-bottom: auto;
}

/* Liste des sujets */

article {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.f_inf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.f_name {
  font-size: 1.50vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: ;
  letter-spacing: 1px;
}
.create_topic h3 {
  font-size: 0.875vw;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  color: ;
}
.create_topic a {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: ;
}

.t_part {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.topics_pinned {
  border-top: 1.5px solid #ececec;
  border-bottom: 1.5px solid #ececec;
}
.no_pinned_topic {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.10vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: ;
}

.topics_lasted {
  margin-top: 40px;
  border-top: 1.5px solid #ececec;
  border-bottom: 1.5px solid #ececec;
}
.no_topic{
    margin-top: 40px;
    margin-bottom: 40px;
}
.no_topic p {
  text-align: center;
  font-size: 1.10vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: ;
}
.no_topic h4 {
  text-align: center;
  font-size: 0.875vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: ;
}
.no_topic h4 a {
  font-weight: 300;
  font-style: italic;
  color: ;
}


/* Description du sujet */

.topic_desc {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.topic_desc_groupa {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  width: 25%;
}
.topic_title {
  font-size: 1.20vw;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: ;
  margin-top: auto;
}
.topic_author {
  font-size: 0.75vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: ;
  margin-bottom: auto;
  margin-top: 5px;
}
.spec_ib {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: ;
}

.topic_desc_groupb {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: center;
}
.n_message_topic, .n_view_topic {
  font-size: 0.90vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: ;
}
.n_message_topic{
    margin-top: auto;
}
.n_view_topic{
    margin-bottom: auto;
    margin-top: 10px;
}

.topic_desc_groupc {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 25px;
}
.label_post_author {
  font-size: 0.90vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: ;
}
.post_author {
  margin-top: 2.5px;
  width: 100%;
  font-size: 0.85vw;
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  color: ;
}
.date_post {
  margin-top: 2.5px;
  font-size: 0.90vw;
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  color: ;
}
/* ------------- */


.topic_page {
  margin-top: 25px;
  margin-bottom: 25px;
}
.page_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.page_selector a {
    display: flex; /* Pour centrer les flèches qui sont dedans en hauteur */
}

.page_selector a img {

}

.arrow_left {
  width: 18px;
  margin-right: 1px;
}
.arrow_right {
  width: 18px;;
  margin-left: 1px;
}
.pages {
  text-align: center;
  padding-left: 12.5px;
  padding-right: 12.5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  background-color: #ececec;
  border-radius: 5px;
}
.pages a {
  font-size: 1.10vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #313131;
}

/* On agrandis certains textes sur les textes des petites résolutions */
@media screen and (max-width: 1024px){

    .index_path{
        font-size: 2.9vw;
    }

    #index_path_smll{
        font-size: 2.75vw;
    }

    #tn_groupa{
        font-size: 2.75vw;
        margin-left: 35px;
    }

    #tn_groupb{
        margin-right: 35px;
    }

    #search{
        font-size: 2.3vw;
    }

    #search::placeholder {
        font-size: 2.3vw;
    }

    .topic_title{
        font-size: 2.8vw;
    }

    .topic_author{
        font-size: 2.2vw;
    }

    .n_message_topic, .n_view_topic{
        font-size: 2.2vw;
    }

    .create_topic h3{
        font-size: 2.7vw;
    }

    .f_name{
        font-size: 3.6vw;
    }

    .no_pinned_topic{
        font-size: 3.1vw;
    }

    .no_topic p{
        font-size: 3.1vw;
    }

    .no_topic h4 {
        font-size: 2.6vw;
    }

    .pages a {
        font-size: 2vw;
    }

    .topic_last_post p {
        font-size: 2.4vw;
        color: #625f5f;
    }

    .topic_last_post div{
        font-size: 2.4vw;
    }

}

/* On change les tailles ou les marges de certains objets sur les petites résolutions */
@media screen and (max-width: 1024px){

    article{
        width: 85%;
    }

    .arrow_left {
      width: 13px;
      height: 22px;
    }

    .arrow_right {
        width: 13px;
        height: 22px;
    }

    #central_onglet_body{
        margin-top: 90px;
    }

    #search-btn {
        width: 40px;
        height: 40px;
    }

    #search{
        height: 40px;
    }

}
