#central_onglet_body{
    margin: 20px;
}

h3{
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;

}

article{
  display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
  margin-bottom: 15px;
  height: auto;
    width: 90%;
}

.forum_index_path{
    margin-left: 12px;
}

.article{
    margin-bottom: 21px;
}

.article h2 {
    background-color: #1d1d1d;
    color: white;
    font-family: 'source_code_proregular', Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 15px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom-right-radius: 100px;
}

.article p {
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
    text-align: center;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
    color: #1d1d1d;
}

.article h3{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
}

#form_new_topic{
    width: 60%;
}

#form_new_topic textarea{
    width: 100%;
    min-height: 130px;
}

#form_new_topic .send{
    text-align: right;
    width: 100%;

}

#form_new_topic .send input{
    width: 100px;
    margin-top: 7px;
    text-align: center;
}

#form_new_topic h3{
	color: black;
}

.text_formatting{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: calc(100% - 150px);
}

.text_style{
    border: 1px solid black;
    border-radius: 3px;
    width: 90px;
    margin-right: 6px;
}

.text_style .label{
    margin-right: 23px;
}

.text_size{
    border: 1px solid black;
    border-radius: 3px;
    width: 90px;
    margin-right: 11px;
}

.text_size .label{
    margin-right: 29px;
}

.text_style img{
    width: 11px;
    position: relative;
    top: -1;
}

.text_size img{
    width: 11px;
    position: relative;
    top: -1;
}

.text_bold{
    border: 1px solid black;
    border-radius: 3px;
    width: 23px;
    margin-right: 4px;
}

.text_underline{
    border: 1px solid black;
    border-radius: 3px;
    width: 23px;
    margin-right: 4px;
}

.text_italic{
    border: 1px solid black;
    border-radius: 3px;
    width: 23px;
    margin-right: 4px;
}

.editor_type{
    display: flex;
    flex-direction: row;
    width: 150px;
    align-content: right;
}

.form_header{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 18px;
}

#form_new_topic .topic_title{
	width: 70%;
}

#form_new_topic .topic_subtitle{
	width: 70%;
}


