#central_onglet_body{
    margin: 20px;
}

h3{
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;

}

article{
  display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
  margin-bottom: 15px;
  height: auto;
    width: 90%;
}

.forum_index_path{
    margin-left: 12px;
}

.article{
    margin-bottom: 21px;
}

.article h2 {
    background-color: #1d1d1d;
    color: white;
    font-family: 'source_code_proregular', Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(100% - 15px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom-right-radius: 100px;
}

.article p {
    font-size: 16px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 25px;
    text-align: center;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;
    color: #1d1d1d;
}

.article h3{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    color: white;
    font-size: 16px;
}