@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');

#central_onglet_body{
    margin: 20px;
}

/* Editor */

article{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

#topic_title {
  margin-top: 10px;
}
#form_header h1 {
  font-size: 1.15vw;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-align: center;
}
#form_new_topic {
  display: flex;
  flex-direction: column;
}
.label_input {
  font-size: 1vw;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 40px;
}
#msge_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.text_formatting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.a_down {
  margin-left: 15px;
  width: 7.5px;
}
.text_style, .text_size {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.text_bold, .text_underline, .text_italic {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.msge_content textarea {
  resize: vertical;
  width: 100%;
  min-height: 200px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.msge_footer {
  display: flex;
  justify-content: flex-end;
}
.send {
  margin-top: 10px;
}

@media screen and (max-width: 1024px){

}
