@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

a {
	text-decoration: none;
}
p {
	margin: 0;
}
i {
	color: black;
}

body {
	position: relative;
	background-color: white;
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
    min-height: calc(100vh - 70px);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* SECTION */

.tooltip_connection {
    display: none;
}
