a {
	color: #24252f;
	text-decoration: none;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

	.website_name {
		display: flex;
		position: absolute;
		font-size: 30px;
		font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
		position: absolute;
		margin-top: 15px;
		margin-left: 80px;
	}

	/* CENTER WINDOW */

	section {
		display: flex;
		margin-top: 140px;
		height: 400px;
		width: 530px;
		margin-left: auto;
		margin-right: auto;
	}

		.programming_ants_logo_ide {
      position: absolute;
			height: 50px;
			width: 50px;
			margin-top: 7px;
			margin-left: 380px;
		}

			/* ==> FIELDSET */

			fieldset {
				display: flex;
				position: absolute;
				margin-left: 50px;
				margin-top: 80px;
				width: 400px;
				height: 120px;
				border: 2px solid;
				border-color: #24252f;
				border-radius: 5px;
			}

				legend {
					color: #24252f;
					font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
					font-size: 20px;
				}

					label {
						color: #24252f;
						font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
						font-size: 15px;
					}

                    /* FORMULAIRE */

					#nickname_label{
                        position: absolute;
                        left: 70px;
                        top: 43px;
                    }

                    #nickname{
                        position: absolute;
                        left: 34%;
                        top: 40px;
                        width: 200px;
                        height: 20px;
                    }

					#pass_label{
                        position: absolute;
                        left: 70px;
                        top: 83px;
                    }

                    #pass{
                        position: absolute;
                        left: 34%;
                        top: 80px;
                        width: 200px;
                        height: 20px;
                    }

                    #stay_connected_label{
                         position: absolute;
                         left: 42px;
                         top: 161px;
                         color: #24252f;
                    }

                    #stay_connected{
                        position: absolute;
                        left: 15px;
                        top: 159px;
                        width: 16px;
                        height: 16px;
                    }

                    /* ERROR */

                    	.text_error{ /* Modifie le formatage du texte des erreurs */
                        width: 300px;
                        padding-left: 5px;
                        padding-right: 5px;
                        word-wrap: break-word;
                    }

                    .message_error{ /*Ce qu'il faut appliquer a tout les messages d'erreurs */
                      padding-bottom: auto;
											font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
                      border: 2px solid #24252f;
					    				color: #24252f;
                    }

                    #message_error_bad_filled{
                        position: relative;
                        top: 300px;
                        left: 110px;
                        height: 50px;
                    }

                    #text_error_bad_filled{
                        text-align: center;
                    }

                    #message_error_bad_credentials{
                        position: relative;
                        top: 300px;
                        left: 110px;
                        height: 67px;
                    }

				/* SEND */

					#send {
						position: absolute;
						top: 152px;
						left: 364px;
					}

						.send {
							padding-left: 14px;
							padding-right: 14px;
							height: 35px;
							color: #24252f;
							border: 2px solid;
							background-color: white;
							border-color: #24252f;
							border-radius: 5px;
						}

							.send:hover {
								background-color: #ffb322;
								color: white;
								border-color: #ffb322;
							}
