@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}

#body_content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

	/* Header */

		header {

		}
		
			#infa {
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

			#infb {
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}


	/* Section ==> FIELDSET */

		fieldset {
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 215px;
			width: 500px;
			height: auto;
			border: 2px solid white;
		}

			label {
				color: white;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				font-size: 15px;
			}

  /* FORMULAIRE */

		#nickname_label {
			font-size: 25px;
		}

    	#nickname{
    		width: 500px;
    		height: 25px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
      }

		#pass_label {
			font-size: 25px;
    }

      #pass{
				width: 500px;
    		height: 25px;
				margin-top: 25px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
    	}

				::placeholder {
					margin-left: 5px;
					font-size: 16px;
				}

	/* label de la case à cocher */
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {

	}

	/* Aspect de la case à cocher */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
  	position: absolute;
  	left:0; top: 2px;
  	width: 17px; height: 17px; /* dim. de la case */
  	border: 1px solid #aaa;
  	background: #f8f8f8;
  	border-radius: 3px; /* angles arrondis */
		box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* légère ombre interne */
	}

	/* Aspect général de la coche */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✔';
  	position: absolute;
  	top: 0; left: 4px;
  	font-size: 14px;
  	color: #09ad7e;
  	transition: all .2s; /* on prévoit une animation */
	}

	/* Aspect quand "coché" */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0; /* coche invisible */
  	transform: scale(0); /* mise à l'échelle à 0 */
	}

	/* Aspect quand "non coché" */
	[type="checkbox"]:checked + label:after {
		opacity: 1; /* coche opaque */
  	transform: scale(1); /* mise à l'échelle 1:1 */
	}

  /* ERROR */

  	.text_error{ /* Modifie le formatage du texte des erreurs */
      width: 300px;
      padding-left: 5px;
      padding-right: 5px;
      word-wrap: break-word;
    }

    .message_error{ /*Ce qu'il faut appliquer a tout les messages d'erreurs */
      padding-bottom: auto;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      border: 2px solid #24252f;
			color: #24252f;
    }

      #message_error_bad_filled{
        position: relative;
        top: 300px;
        left: 110px;
        height: 50px;
      }

      #text_error_bad_filled{
        text-align: center;
      }

      #message_error_bad_credentials{
        position: relative;
        top: 300px;
        left: 110px;
        height: 67px;
      }

	/* SEND */

		#send {
			position: absolute;
			top: 152px;
			left: 364px;
		}

		.send {
			padding-left: 14px;
			padding-right: 14px;
			height: 35px;
			color: #24252f;
			border: 2px solid;
			background-color: white;
			border-color: #24252f;
			border-radius: 5px;
		}

		.send:hover {
			background-color: #ffb322;
			color: white;
			border-color: #ffb322;
		}
