@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}

#body_content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

	/* Header */

		header {

		}

			#h_element {
				margin-top: 150px;
			}

			#infa {
				font-size: 25px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

			#infb {
				font-size: 15px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

				#infb a {
					color: #ff8d33;
				}


	/* Section ==> FIELDSET */

		fieldset {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25px;
			width: 500px;
			height: auto;
			border: 2px solid white;
			border-radius: 5px;
		}

  /* FORMULAIRE */

    	#nickname{
				margin-left: auto;
				margin-right: auto;
    		width: 475px;
    		height: 25px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
      }

      #pass{
				align-self: center;
				width: 475px;
    		height: 25px;
				margin-top: 25px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
    	}

				::placeholder {
					font-size: 13px;
				}

	/* label de la case à cocher */
	#stay_connected_label {
    width: 50px;
    height: 25px;
    position: absolute;
    background-color: white;
    border-radius: 12px;
  }

  /* ERROR */

  	.text_error{ /* Modifie le formatage du texte des erreurs */
      width: 300px;
      padding-left: 5px;
      padding-right: 5px;
      word-wrap: break-word;
    }

    .message_error{ /*Ce qu'il faut appliquer a tout les messages d'erreurs */
      padding-bottom: auto;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      border: 2px solid #24252f;
			color: #24252f;
    }

      #message_error_bad_filled{
        position: relative;
        top: 300px;
        left: 110px;
        height: 50px;
      }

      #text_error_bad_filled{
        text-align: center;
      }

      #message_error_bad_credentials{
        position: relative;
        top: 300px;
        left: 110px;
        height: 67px;
      }

	/* SEND */

		#send {
            margin-top: 20px;
            margin-left: 145px;
		}

		.send {
			padding-left: 14px;
			padding-right: 14px;
			height: 35px;
			color: #24252f;
			border: 2px solid;
			background-color: white;
			border-color: #24252f;
			border-radius: 5px;
		}

		.send:hover {
			background-color: #ffb322;
			color: white;
			border-color: #ffb322;
		}
