#onglet_body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 470px;
  padding: 10px;
}

  #onglet_body h3 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 19px;
    color: #24252f;
    margin-top: 0px;
  }

  #onglet_body h4 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 16px;
    color: #24252f;
    margin-top: 0px;
  }

  #onglet_body p {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
  }
