body {
  position: relative;
  margin: 0;
  padding: 0;
}

  h3 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 19px;
    color: #24252f;
  }

  h4 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 16px;
    color: #24252f;
  }
<<<<<<< HEAD

  p {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
  }
=======
>>>>>>> c92c05f05a0662b9392b248c7ac409eb4270d310
