@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

a {
	text-decoration: none;
}
p, h1, h2, h3 {
	margin: 0;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  
}
