@font-face {
    font-family: 'source_code_proregular';
    src: url('../fonts/sourcecodepro-regular-webfont.eot');
    src: url('../fonts/sourcecodepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/sourcecodepro-regular-webfont.svg#source_code_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
	color: white;
	text-decoration: none;
}

body {
	background-color: #1d1d1d;
	margin: 0;
	padding: 0;
}

#body_content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

	/* Header */

			#h_element {
				margin-top: 150px;
			}

			#infa {
				font-size: 25px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

			#infb {
				font-size: 15px;
				text-align: center;
				font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
				color: white;
			}

				#infb a {
					color: #ff8d33;
				}


	/* Section ==> FIELDSET */

		fieldset {
			display: flex;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25px;
			width: 500px;
			height: 175px;
			border: 2px solid white;
			border-radius: 5px;
		}

  /* FORMULAIRE */

    	#nickname {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    		width: 450px;
    		height: 30px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
        padding-left: 5px;
      }

      #pass {
        display: flex;
        margin-left: auto;
        margin-right: auto;
				width: 450px;
    		height: 30px;
				border: 1px solid #2a363b;
				background-color: #f9f9f9;
        padding-left: 5px;
    	}

				::placeholder {
					font-size: 13px;
				}

    #inf_input fieldset{
        transform: translate(-50%, 0);
        left: 50%;
        margin-left: 0px;
        margin-right: 0px;
        position: absolute;
    }

    .checkbox{
        width: 350px;
        height: 26px;
        margin-top: 25px;
        margin-left: 25px;
    }

	/* label de la case à cocher (quand il sera cliqué il va activer la checkbox) */
  .checkbox label {
    width: 50px;
    height: 25px;
    position: absolute;
    background-color: white;
    border-radius: 12px;
    margin-left: 220px;
  }

  /* On cache la checkbox */
  input[type=checkbox] {
    position: absolute;
    visibility: hidden;
  }

  /* Apparence du bouton remplaçant la checkbox + temps de transition (temps que va prendre le bouton pour se déplacer) */
  .checkbox label::after {
    content: "";
    width: 22px;
    height: 21px;
    position: absolute;
    border-radius: 50px;
    background-color: #ff8d33;
    top: 2px;
    left: 2px;
    transition: all 0.5s;
  }

  /* Modifications appliquées au bouton quand la checkbox est activée */
  input[type=checkbox]:checked + label::after {
    background-color: white;
    left: 25px;
  }

  /* Modifications appliquées au label quand la checkbox est activée */
  input[type=checkbox]:checked + label {
    background-color: #ff8d33;
  }

    #checkbox_label {
      position: absolute;
      font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      color: white;
      font-size: 15px;
      margin-top: 5px;
    }

  /* ERROR */

  	.text_error{ /* Modifie le formatage du texte des erreurs */
      padding-left: 5px;
      padding-right: 5px;
      word-wrap: break-word;
    }

    .message_error{ /*Ce qu'il faut appliquer a tout les messages d'erreurs */
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: auto;
			font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      border: 2px solid white;
			color: white;
    }

      #message_error_bad_filled{
        position: relative;
        top: 235px;
        height: 50px;
      }

      #text_error_bad_filled{
        text-align: center;
      }

      #message_error_bad_credentials{
        position: relative;
        top: 235px;
        height: auto;
      }

	/* SEND */

		#send {
      position: absolute;
      bottom: 160px;
      margin-left: 414px;
      top: 128px;
		}

		.send {
			padding-left: 14px;
			padding-right: 14px;
			height: 35px;
			color: #24252f;
			border: 2px solid;
			background-color: white;
			border-color: #24252f;
			border-radius: 5px;
		}

		.send:hover {
      transition: 0.2s;
      background-color: #ff8d33;
      color: white;
		}
