@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600|Roboto:300,300i,400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

a {
	text-decoration: none;
}
p, h1, h2, h3 {
	margin: 0;
}

input::placeholder {
  font-size: 15px;
	color: #656565;
}

body {
	margin: 0;
	padding: 0;
}

#body_content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */

header {
  margin-top: auto;
}

#h_elements {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#infa {
  display: inline-flex;
	text-align: center;
  width: 100%;
}
#infa h2 {
  color: #2b2b2b;
  font-family: 'Roboto', sans-serif;
	font-weight: 700;
  font-size: 1.55vw;
	letter-spacing: 1.5px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #eeeeee;
  margin-left: auto;
}
#infa a {
  width: 1.5%;
  margin-right: auto;
}
#return {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  width: 1.2vw;
}

#infb {
  margin-top: 10px;
	text-align: center;
}
#infb h3 {
  color: #585858;
  font-family: 'Roboto', sans-serif;
	font-weight: 300;
  font-size: 1.05vw;
}
#register_go {
  color: #45a6ee;
}
#register_go:hover {
  color: #8bcaf9;
}

/* Section */

section {
  margin-top: 25px;
  margin-bottom: auto;
}

#group_input {
  display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 22.5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

fieldset {
	display: flex;
  width: 100%;
  border-top: 7px solid;
  border-image: linear-gradient(to right, #ff9a64 25%, #ffd584 25%, #ffd584 50%, #a0cdf6 50%, #a0cdf6 75%, #c5b3ff 75%) 5;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

/* Formulaire */

input {
  display: flex;
  background-color: #f6f6f6;
  border: 1px solid #e5e4e4;
  border-radius: 3px;
  height: 37.5px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#inf_box {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

#checkbox {
	margin-top: 20px;
}
#checkbox_text {
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 0.90vw;
  color: #878787;
}
label {
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}
.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
  border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #45a6ee;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 1;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

/* Formulaire error */

.text_error { /* Modifie le formatage du texte des erreurs */
	padding-left: 5px;
	padding-right: 5px;
	word-wrap: break-word;
}

.message_error { /*Ce qu'il faut appliquer a tout les messages d'erreurs */
  display: none;
  position: relative;
  background-color: white;
  font-family: 'Roboto', cursive;
  font-weight: 300;
  font-size: 1.25vw;
  color: #a1a1a1;
  padding: 10px;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}
.message_error:after {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
left: -15px;
top: 50%;
}
.message_error:before {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #eeeeee;
display: block;
width: 0;
z-index: 0;
margin-top: -15px;
left: -16px;
top: 50%;
}

#message_error_bad_filled{
  margin-top: 20px;
}

#text_error_bad_filled{
  text-align: center;
}

#message_error_bad_credentials{
  margin-top: 20px;
}

/* Send */

#send {
  width: 100%;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 7px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #45a6ee;
  border-radius: 5px;
  border: none;
  padding-left: 0px;
  text-align: center;
  height: 40px;
}

.page_change_orientation{
    background-color: black;
    z-index: 999;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1024px) {

    #group_input{
        width: 55%;
    }

    #infa h2{
        font-size: 3.8vw;
    }

    #infb h3{
        font-size: 3vw;
    }

    #send{
        font-size: 2.5vw;
    }

    #checkbox_text{
        font-size: 2.5vw;
    }

    .message_error{
        font-size: 1.75vw;
    }

    .message_error li{
        font-size: 1.6vw;
    }

    #body_content{
        min-height: 82vh;
    }

    #return{
        width: 3.5vw;
    }

    input {
        font-size: 1.7vw;
    }
}
