#onglet_body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 470px;
  padding: 10px;
}

  #onglet_body h3 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 19px;
    color: #1d1d1d;
    margin: 0;
  }

  #onglet_body h4 {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 16px;
    color: #1d1d1d;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  #onglet_body p {
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

    #new_email,#new_password,#confirm_new_password,#biography {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
      height: 20px;
    }

      #onglet_body button {
        border-radius: 2px;
        border: 1px solid #1d1d1d;
        background-color: #1d1d1d;
        color: white;
        height: 26px;
        width: 80px;
      }

      #send_new_email,#send_new_password {
        margin-left: 5px;
      }
