#activities {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

  .a_box {
    width: 92.5%;
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
  }

    .icon_type img {
      width: 40px;
      height: 40px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 10px;
      float: left;
    }

    .title_type {
      color: #1d1d1d;
      font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      font-size: 17px;
    }

    .a_type {
      color: #1d1d1d;
      font-style: italic;
      font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
      font-size: 15px;
      text-align: center;
    }

    .a_more img {
      width: 18px;
      height: 8px;
      margin-top: 15px;
    }
